<div>
<div  ng-controller="seguridadSocialCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="titulos"><b>SEGURIDAD SOCIAL </b></h4>
                    <p class="texto"><b>EN ESTE ESPACIO PODRÁ SUBIR LA SEGURIDAD SOCIAL </b></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ESCOJA EL MES SOBRE EL CUAL SUBIRA LA SEGURIDAD SOCIAL</p>
                            <select class="form-control" ng-model="mes" data-placeholder="seleccione el mes" ng-change="simple()">
                                <option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</option>
                            </select>
                            <br>
                        </div>
                        <br>
                        <div class="col-sm-12" ng-show="banderaMes">
                            <div>
                                <input type="file" file-model="myDoc"  class="form-control" id ="myFileField" />
                                <br>
                                <button type="button" class="btn btn-primary align-middle" ng-click="subirArchivo($event,myDoc,mes)" ng-model="tablita">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

