<div>
<div  ng-controller="seguridadSocialCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                    <div id="id01" class="w3-modal" ng-show="bandera01">
                        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:200px;max-height:300px">

                            <div class="w3-center"><br>
                                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                <i class="fa fa-refresh fa-spin" style="font-size:60px;color:indigo;text-shadow:2px 2px 4px #000000;"></i>


                            </div>

                            <form class="w3-container" >
                                <div class="w3-section">
                                    <div class="w3-row w3-center">
                                        <label><b>Error</b></label>

                                    </div>
                                    <div class="w3-row w3-center">
                                        <p><b>Comuniquese con SEQ</b></p>
                                    </div>
                                    <br>
                                    <div class="w3-row w3-center">
                                        <button class="w3-button w3-indigo w3-padding w3-round" type="submit" ng-click="closeModel()">ok</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h4 class="titulos"><b>SEGURIDAD SOCIAL </b></h4>
                    <p class="texto"><b>EN ESTE ESPACIO PODRÁ SUBIR LA SEGURIDAD SOCIAL </b></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ESCOJA LO QUE QUIERE HACER</p>
                            <md-select aria-label="simpleSelect1" class="titulos" ng-model="opcion" placeholder="seleccione una opción" ng-change="simple(opcion)">
                                <md-option ng-value="todo" ng-repeat="todo in opciones">{{todo.name}}</md-option>
                            </md-select>
                            <br>
                        </div>
                    </div>
                    <div class="row" ng-show="banderaMes">
                        <br>
                        <div class="col-sm-6">
                            <p class="texto">AÑO REPORTADO</p>
                            <md-select aria-label="simpleSelect2" class="titulos" ng-model="year" data-placeholder="seleccione el mes">
                                <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                            </md-select>
                        </div>
                        <div class="col-sm-6">
                            <p class="texto">PERIODO REPORTADO</p>
                            <md-select aria-label="simpleSelect3" class="titulos" ng-model="mes" placeholder="seleccione el mes" >
                                <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>
                            </md-select>
                            <br>
                        </div>
                        <div class="col-sm-4" >
                            <div>
                                <p class="titulos">EL ARCHIVO DEBE SER EN FORMATO PDF Y NO EXCEDER LOS 20 MB</p>
                                <label class="texto">SUBA ACÁ EL DOCUMENTO DE LA SEGURIDAD SOCIAL</label>
                                <input type="file" file-model="myDoc"  class="form-control" />
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <p class="titulos">EL ARCHIVO DEBE SER EN FORMATO PDF Y NO EXCEDER LOS 20 MB</p>
                                <label class="texto">SUBA ACÁ EL DOCUMENTO DEL PERSONAL</label>
                                <input type="file" file-model="myDoc2"  class="form-control"  />
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label class="texto">EN EL MES HUBO UN CAMBIO EN EL PERSONAL DESCRIBALO</label>
                                <textarea class="form-control texto" rows="5" id="comment" ng-model="textArea"></textarea>
                                <br>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary align-middle" ng-click="subirArchivo($event,myDoc,myDoc2,mes,textArea,year)" ng-model="tablita">Subir</button>
                    </div>
                    <div class="row" ng-show="bandera2">
                        <label class="titulos">CONSULTAR SEGURIDAD SOCIAL</label>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                <tr  class="text-center">
                                    <th >fecha de Registro</th>
                                    <th >seguridad Social</th>
                                    <th>Personal</th>

                                </tr>
                                <tr ng-repeat="todo in tablaSeguridadSocial | orderBy:propertyName:reverse">
                                    <td >{{todo.fechaDeSubida}}</td>
                                    <td >
                                        <div  class="w3-col" style="width:50px"><a href="{{todo.seguridadSocial}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>

                                    </td>
                                    <td>
                                        <div  class="w3-col" style="width:50px"><a href="{{todo.personal}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

