<div>
<div  ng-controller="seguridadSocialCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="titulos"><b>SEGURIDAD SOCIAL </b></h4>
                    <p class="texto"><b>EN ESTE ESPACIO PODRÁ SUBIR LA SEGURIDAD SOCIAL </b></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>ESCOJA LO QUE QUIERE HACER</p>
                            <select class="form-control" ng-model="opcion" data-placeholder="seleccione el mes" ng-change="simple(opcion)">
                                <option ng-value="todo" ng-repeat="todo in opciones">{{todo.name}}</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="row" ng-show="banderaMes">
                        <br>
                        <div class="col-sm-6">
                            <p class="texto">AÑO REPORTADO</p>
                            <select class="form-control" ng-model="year" data-placeholder="seleccione el mes">
                                <option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</option>

                            </select>
                        </div>
                        <div class="col-sm-6">
                            <p class="texto">PERIODO REPORTADO</p>
                            <select class="form-control" ng-model="mes" data-placeholder="seleccione el mes" >
                                <option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</option>
                            </select>
                            <br>
                        </div>
                        <div class="col-sm-4" >
                            <div>
                                <label class="texto">SUBA ACÁ EL DOCUMENTO DE LA SEGURIDAD SOCIAL</label>
                                <input type="file" file-model="myDoc"  class="form-control" />
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label class="texto">SUBA ACÁ EL DOCUMENTO DEL PERSONAL</label>
                                <input type="file" file-model="myDoc2"  class="form-control"  />
                                <br>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                <label class="texto">EN EL MES HUBO UN CAMBIO EN EL PERSONAL DESCRIBALO</label>
                                <textarea class="form-control texto" rows="5" id="comment" ng-model="textArea"></textarea>
                                <br>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary align-middle" ng-click="subirArchivo($event,myDoc,myDoc2,mes,textArea,year)" ng-model="tablita">Subir</button>
                    </div>
                    <div class="row" ng-show="bandera2">
                        <label class="titulos">CONSULTE SUS SEGURIDADES SOCIALES</label>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                <tr >
                                    <th >fecha de Registro</th>
                                    <th >seguridad Social</th>
                                    <th>Personal</th>

                                </tr>
                                <tr ng-repeat="todo in tablaSeguridadSocial | orderBy:propertyName:reverse">
                                    <td >{{todo.fechaDeSubida}}</td>
                                    <td >
                                        <div  class="w3-col" style="width:50px"><a href="{{todo.seguridadSocial}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>

                                    </td>
                                    <td>
                                        <div  class="w3-col" style="width:50px"><a href="{{todo.personal}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

