
<div  ng-controller="revisionDinamicaCtrl as ctrl" class="w3-container ">
    <div class="container">
        <h2 class="w3-center">ESCOJA EL CONTRATO SOBRE EL CUAL VA REALIZAR LA REVISIÓN</h2>
        <p>EN PARTE DE ABAJO ECONTRARÁ UNA LISTA DE TODOS SUS CONTRATOS DISPONIBLES </p>
        <form>
            <div class="form-group">
                <input class="form-control" type="text"  placeholder="Contratos Existentes" name="contrato" list="contratos" ng-model="contrato">
                <datalist id="contratos">
                    <select name="contratos" ng-model="select">
                        <option value="" disabled selected>Contratos existentes </option>
                        <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
                    </select>
                </datalist>

            </div>
            <button class="btn btn-primary " type="submit" ng-click="add()">Consultar</button>

            <div class="w3-container" ng-show="flag">
                <h4>FINALISTAS DEFINITIVOS</h4>

                <div class="w3-container">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tbody>
                        <tr>
                            <th>  Nombre de Empresa</th>
                            <th>Finalistas Definitivos</th>


                        </tr>
                        <tr  ng-repeat="todo in listado | orderBy:propertyName:reverse">
                            <td>{{todo.nombreEmpresa}}</td>
                            <td>
                                <md-button button class="md-primary md-raised"  ng-click="showAlert2($event,todo)">
                                    Detalle Contratista
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </form>
    </div>
</div>
