

<div class="w3-container">
<div  ng-controller="gestionDeActividadesCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container text-center ">
                <div class="row">
                    <div class="col-xs-9">
                        <h4 class="w3-center" ><b>REVISE LAS ACTIVIDADES PROGRAMADAS DE SUS CONTRATISTAS</b></h4>
                        <p class="w3-center"><b>ESCOJA EL CONTRATO Y EL MES SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>
                        <div class="row">
                            <div class="col-sm-6">
                                <input class="form-control" type="text"  placeholder="A que contrato va a hacer la revision" name="contrato" list="contratos" ng-model="contrato">
                                <datalist id="contratos">
                                    <select name="contratos" ng-model="select">
                                        <option value="" disabled selected>Escoja un  contrato de los existentes </option>
                                        <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
                                    </select>
                                </datalist>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" ng-model="mes" data-placeholder="seleccione el mes" ng-change="simple()">
                                    <option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</option>

                                </select>
                            </div>
                        </div>

                        <br>
                        <br>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                    <button class="btn btn-primary align-middle" type="submit" ng-click="add()">Consultar</button>
                      <br>
                    </div>
                    </div>
                </div>
        <br>
        <br>
        <div class="w3-container" ng-show="flag">
            <div class="container">
                <div class="col-xs-8">
                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                        <tr >
                            <th >Nombre de Empresa</th>
                            <th >Análisis</th>

                        </tr>
                        <tr ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                            <td >{{todo.nombreEmpresa}}</td>
                            <td >
                                <button  class="btn btn-primary" ng-click="showAlert($event,todo,mes)" >
                                    Resumen
                                </button>

                            </td>
                        </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>
        </div>
</div>
</div>
</div>
