

<div class="w3-container">
<div  ng-controller="gestionDeActividadesCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container text-center ">
                <div class="row">
                    <div class="col-xs-9">
                        <h4 class="titulos" ><b>REVISE LAS ACTIVIDADES PROGRAMADAS DE SUS CONTRATISTAS</b></h4>
                        <p class="texto"><b>ESCOJA EL CONTRATO Y EL MES SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>
                        <div id="id01" class="w3-modal" ng-show="bandera01">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:200px;max-height:300px">

                                <div class="w3-center"><br>
                                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                    <i class="fa fa-refresh fa-spin" style="font-size:60px;color:indigo;text-shadow:2px 2px 4px #000000;"></i>


                                </div>

                                <form class="w3-container" >
                                    <div class="w3-section">
                                        <div class="w3-row w3-center">
                                            <label><b>Error</b></label>

                                        </div>
                                        <div class="w3-row w3-center">
                                            <p><b>Comuniquese con SEQ</b></p>
                                        </div>
                                        <br>
                                        <div class="w3-row w3-center">
                                            <button class="w3-button w3-indigo w3-padding w3-round" type="submit" ng-click="closeModel()">ok</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="id02" class="w3-modal" ng-show="bandera02">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:200px;max-height:300px">

                                <div class="w3-center"><br>
                                    <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                    <i class="fa fa-eye-slash" style="font-size:60px;color:indigo;text-shadow:2px 2px 4px #000000;"></i>


                                </div>

                                <form class="w3-container" >
                                    <div class="w3-section">
                                        <div class="w3-row w3-center">
                                            <label><b>Ojo</b></label>

                                        </div>
                                        <div class="w3-row w3-center">
                                            <p><b>No hay Actvidades con soporte, o ya todas las Actividades lo tienen</b></p>
                                        </div>
                                        <br>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div layout="column" layout-align="center center">
                                    <md-select aria-label="simpleSelect1" class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" md-on-open="loadContratos()" ng-change="ocultarTodo()">
                                        <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                                    </md-select>
                                    <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <md-select aria-label="simpleSelect2" class="titulos" ng-model="mes" data-placeholder="seleccione el mes" ng-change="ocultarTodo()">
                                    <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                            <div class="col-sm-4">
                                <md-select aria-label="simpleSelect3" class="titulos" ng-model="year" data-placeholder="seleccione el mes" ng-change="ocultarTodo()">
                                    <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                        </div>

                        <br>
                        <br>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                    <button class="btn btn-primary align-middle" type="submit" ng-click="add($event,contrato.idContrato,mes,year)">Consultar</button>
                      <br>
                    </div>
                    </div>
                </div>
        <br>
        <br>
        <div class="w3-container" ng-show="flag">
            <div class="container">
                <div class="col-xs-8">
                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                        <tr  class="titulos">
                            <th >Nombre de Empresa</th>
                            <th >Análisis</th>

                        </tr>
                        <tr class="texto" ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                            <td >{{todo.nombreEmpresa}}</td>
                            <td >
                                <button  class="btn btn-primary" ng-click="showAlert($event,todo,mes,year)" >
                                    Resumen
                                </button>

                            </td>
                        </tr>

                        </tbody>

                    </table>

                </div>
            </div>

        </div>
        </div>
</div>
</div>
</div>
