
<div class="w3-container">
<div class="container">
    <h4 ><b>GESTIÓN DE REQUISITOS DE SELECCIÓN</b></h4>
<br>
    <div class="container align-middle"  >
      <form >
        <div class="form-group">
          <p class="text-left"><b>EN ESTA VISTA PODRA AGREGAR LOS REQUISITOS A CADA CATEGORIA</b></p>
          <p class="text-left"><b>ESCOJA UNA DE LAS CATEGORIAS MENCIONADAS A CONTINUACIÓN </b> </p>
          <div class="row">
          <div class="col-xs-8">

            <select class="form-control push-right" ng-click="function1()" data-placeholder="Categoria a la que le va aplicar los requisitos" name="singleSelect" ng-model="idCategoria">
              <option value="1">Categoria 1</option>
              <option value="2">Categoria 2</option>
              <option value="3">Categoria 3</option>
              <option value="4">Categoria 4</option>
            </select>
          </div>
        </div>
        </div>
      </form>
      <br>
      <div class="container  " ng-show="banderaCategoria1" >
        <div >
            <h2 class="text-primary">Categoria 1</h2>
        </div>

        <form>

          <p>La Categoria 1 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es mayor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
        </form>

        <button class="btn btn-primary " type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="container " ng-show="banderaCategoria2" >
        <div>
            <h2 class="text-danger">Categoria 2</h2>
        </div>

        <form class="w3-container">
          <p>La Categoria 2 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es menor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
        </form>

        <button class="btn btn-danger" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="container" ng-show="banderaCategoria3" >
        <div >
            <h2 class="text-success">Categoria 3</h2>
        </div>

        <form class="w3-container">
          <p>

          <p>La categoria 3 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es mayor o igual a  un mes y su nivel de riesgo es menor o igual  a 2</p>
        </form>

        <button class="btn btn-success" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="container" ng-show="banderaCategoria4" >
        <div>
          <h2 class="text-warning">Categoria 4</h2>
        </div>

        <form class="w3-container">
          <p>

          <p>La categoria 4 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es menor o igual a un mes y su nivel de riesgo es menor o igual  a 2</p>
        </form>

        <button class="btn btn-warning" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>
      </div>
      <br>

      <div ng-show="banderaLista">

        <div class="col-xs-8">
          <select class="form-control"  data-placeholder="¿QUE QUIEREN HACER CON ESTA CATEGORIA?" name="singleSelect" ng-model="ciclo" ng-click="activated(ciclo)">
            <option value="1">ESTABLECER FECHA</option>
            <option value="2">AGREGAR REQUISITOS</option>
            <option value="3">DEFINITIVOS</option>
          </select>
        </div>
          <br>
          <br>
          <div class="container" ng-show="banderaFecha">
            <div class="col-xs-8">
              <label>Cuanto tiempo tendra su contratista para subir los documentos</label>
              <input type="date" placeholder="yyyy-MM-dd"  ng-model="fecha"/>
              <md-button class="md-warn md-raised md-hue-2" ng-click="fun($event)">Establecer</md-button>
              <label> LA FECHA DE ENTREGA DE LOS DOCUMENTOS ES {{objeto.fechaFin| date : "fullDate"}},
                LE QUEDAN {{objeto.tiempoRestante}} PARA ENTREGAR LOS SOPORTES</label>
            </div>
          </div>
          <div class="container" ng-show="table1">
            <div class="col-xs-8">
              <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                <thead>
                <tr class="">
                  <th>DESCRIPICION</th>
                  <th>¿APLICA?<md-checkbox  aria-label="CheckboxMaster" ng-model="master" ng-click="all(master)"></md-checkbox></th>
                </tr>
                </thead>
                <tbody>
                <tr class="" ng-repeat="todo in listado2" >
                  <td>{{todo.requisito}}</td>
                  <td><md-checkbox  aria-label="Checkbox 1"  ng-model="selected" ng-change="display(selected, todo)">
                  </md-checkbox></td>
                </tr>
                <tr class="" ng-repeat="todo in listado3" >
                  <td>{{todo.descripcion}}</td>
                  <td><md-checkbox  aria-label="Checkbox 1" ng-model="select" ng-change="display2(select, todo)">
                  </md-checkbox></td>
                </tr>
                </tbody>
              </table>
            </div>
            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicar($event)">Aplicar</md-button>
            <br>
            <div ng-show="mensajillo">
              <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>

            </div>

          </div>
          <div class="container" ng-show="table2">
            <div class="col-xs-8">
            <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
              <thead>
              <tr >
                <th>DEFINITIVOS</th>
                <th>ELIMINAR</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="todo in list4">
                <td> {{todo.descripcion}} </td>
                <td><md-checkbox  aria-label="Checkbox 1" class="w3-check" type="checkbox"   ng-model="selected" ng-change="display3(selected, todo)"></md-checkbox></td>
              </tr>
              <tr  ng-repeat="todo in list5">
                <td>{{todo.descripcion}} </td>
                <td><md-checkbox aria-label="Checkbox 1"   ng-model="select" ng-change="display4(select, todo)"></md-checkbox></td>

              </tr>
              </tbody>
            </table>
            </div>
            <md-button class="md-warn md-raised md-hue-2" ng-click="eliminar($event)">Eliminar</md-button>

          </div>
        </div>
      </div>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>