<br>
<br>
<div class="w3-container">
<h1 class="w3-center">GESTIÓN DE REQUISITOS DE EJECUCIÓN</h1>
<p class="w3-center">EN ESTA VISTA PODRA AGREGAR LOS REQUISITOS A CADA CATEGORIA</p>

    <div class="w3-container " >
      <form  id="myForm" action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <div class="w3-row w3-section" style="position:relative">
          <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-search"></i></div>
          <div class="w3-rest">
            <select class="w3-select" ng-click="function1()" data-placeholder="Categoria a la que le va aplicar los requisitos" name="singleSelect" ng-model="idCategoria">
              <option value="1">Categoria 1</option>
              <option value="2">Categoria 2</option>
              <option value="3">Categoria 3</option>
              <option value="4">Categoria 4</option>
            </select>
          </div>
        </div>
      </form>
      <br>
      <div class="w3-rest" ng-show="banderaCategoria1" >
        <div class="w3-blue">
          <h2>Categoria 1</h2>
        </div>

        <form class="w3-container">

          <p>La Categoria 1 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es mayor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
        </form>

        <button class="w3-btn w3-blue" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="w3-rest" ng-show="banderaCategoria2" >
        <div class="w3-red">
          <h2>Categoria 2</h2>
        </div>

        <form class="w3-container">
          <p>La Categoria 2 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es menor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
        </form>

        <button class="w3-btn w3-red" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="w3-rest" ng-show="banderaCategoria3" >
        <div class="w3-green">
          <h2>Categoria 3</h2>
        </div>

        <form class="w3-container">
          <p>

          <p>La categoria 3 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es mayor o igual a  un mes y su nivel de riesgo es menor o igual  a 2</p>
        </form>

        <button class="w3-btn w3-green" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="w3-rest" ng-show="banderaCategoria4" >
        <div class="w3-purple">
          <h2>Categoria 4</h2>
        </div>

        <form class="w3-container">
          <p>

          <p>La categoria 4 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es menor o igual a un mes y su nivel de riesgo es menor o igual  a 2</p>
        </form>

        <button class="w3-btn w3-purple" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>


    </div>

</div>
