
<div class="w3-container w3-center">
<div class="container">
    <h3 class="w3-center"><b>GESTIÓN DE REQUISITOS DE EJECUCIÓN</b></h3>
<br>
    <p class="w3-center"><b>EN ESTA VISTA PODRA AGREGAR LOS REQUISITOS A CADA CATEGORIA</b></p>

    <div class="container " >
      <form >
        <div class="form-group">
          <p class="w3-center"><b>ESCOJA UNA DE LAS CATEGORIAS MENCIONADAS A CONTINUACIÓN </b> </p>
          <div class="w3-rest">
            <select class="form-control" ng-click="function1(fechas)" data-placeholder="Categoria a la que le va aplicar los requisitos" name="singleSelect" ng-model="idCategoria">
              <option value="1">Categoria 1</option>
              <option value="2">Categoria 2</option>
              <option value="3">Categoria 3</option>
              <option value="4">Categoria 4</option>
            </select>
          </div>
        </div>
      </form>
      <br>
      <div class="container" ng-show="banderaCategoria1" >
        <div >
            <h2 class="text-primary">Categoria 1</h2>
        </div>

        <form>

          <p>La Categoria 1 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es mayor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
        </form>

        <button class="btn btn-primary " type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="container" ng-show="banderaCategoria2" >
        <div>
            <h2 class="text-danger">Categoria 2</h2>
        </div>

        <form class="w3-container">
          <p>La Categoria 2 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es menor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
        </form>

        <button class="btn btn-danger" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="container" ng-show="banderaCategoria3" >
        <div >
            <h2 class="text-success">Categoria 3</h2>
        </div>

        <form class="w3-container">
          <p>

          <p>La categoria 3 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es mayor o igual a  un mes y su nivel de riesgo es menor o igual  a 2</p>
        </form>

        <button class="btn btn-success" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>

      </div>
      <div class="container" ng-show="banderaCategoria4" >
        <div>
          <h2 class="text-warning">Categoria 4</h2>
        </div>

        <form class="w3-container">
          <p>

          <p>La categoria 4 pertenecen todos aquellos contratistas cuyo contrato</p>
          <p>Es menor o igual a un mes y su nivel de riesgo es menor o igual  a 2</p>
        </form>

        <button class="btn btn-warning" type="submit" ng-click="showAlert($event)">Aplicar Requisitos</button>
      </div>

    </div>
</div>
</div>
