<div  ng-controller="View2Ctrl" class="w3-container">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-primary"><b>Registre al Candidato</b></h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-xs-10 ">
      <label>Asigne al candidato un contrato</label>
      <input class="form-control" type="text"  placeholder="A que contrato pertenece el contratista" name="contrato" list="contrat" ng-model="contrato">
      <datalist id="contrat">
        <select name="contrat" ng-model="select">
          <option value="" disabled selected>Escoja El contrato al que va pertenecer su contratista</option>
          <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
        </select>
      </datalist>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-xs-10 ">
      <label for="nombreEmpresa">Nombre de la  Empresa Candidata</label>
      <input class="form-control" type="text" name="firstname" id="nombreEmpresa" placeholder="nombre de su empresa" ng-model="nombreEmpresa">
    </div>
  </div>
  <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="col-xs-10 ">
        <label for="email">Correo Electrónico para ingresar a Cayac</label>
        <input class="form-control" type="email" name="email" id="email"  placeholder="email please.."  ng-model="email" >
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-xs-10 ">
        <label>Contraseña para Cayac</label>
        <input class="form-control" type="password" name="pasword" placeholder="nueva Contraseña.." ng-model="password">
      </div>
    </div>
    <br>
</div>

</div>




