<br>
<br>
<br>
<br>
<div class="w3-container">
    <h1 class="w3-center">CONSULTA DE CONTRATOS</h1>
    <p class="w3-center">EN ESTA VISTA PODRA CONSULTAR SUS CONTRATOS</p>

    <div class="w3-container " >
        <form  id="myForm" action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
            <div class="w3-row w3-section">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-search"></i></div>
                <div class="w3-rest">
                    <select class="w3-select" ng-click="function1()" name="singleSelect" ng-model="tipoContrato">
                        <option value="nombre" >Nombre</option>
                        <option value="fecha" >Fecha</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="w3-rest" ng-show="nombreClick">
            <input class="w3-input w3-border" type="text"  placeholder="A que contrato le va aplicar los requisitos" name="contrato" list="contratos" ng-model="contrato" >
            <datalist id="contratos">
                <select name="contratos" ng-model="select">
                    <option value="" disabled selected>Escoja el contrato que va consultar</option>
                    <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
                </select>
            </datalist>
            <button class="w3-btn w3-blue" type="submit" ng-click="detalle(contrato)">Detalle</button>
        </div>
    </div>
    <div class="w3-rest" ng-show="fechaClick">
        <form  class="w3-container w3-card-4 w3-light-grey w3-margin">
        <p class="w3-center">
            ESCOJA EL RANGO EN EL CUAL VA MIRAR SUS CONTRATOS
        </p>
            <md-content class="md-no-momentum">
                <md-input-container  md-no-float class="md-block">
                    <!-- Use floating label instead of placeholder -->
                    <label>FECHA PROMEDIO DE INICIO DE CONTRATO</label>
                    <md-datepicker ng-model="fecha.fechaInicio" md-placeholder="Fecha Iniciación " ng-required="true"></md-datepicker>
                </md-input-container>
                <md-input-container  md-no-float class="md-block">
                    <label>FECHA PROMEDIO DE FIN DE CONTRATO</label>
                    <md-datepicker ng-model="fecha.fechaFin" md-placeholder="Fecha Fin" ng-required="true"></md-datepicker>
                </md-input-container>
            </md-content>
        </form>
        <button class="w3-btn w3-blue" type="submit" ng-click="buscar(fecha.fechaInicio | date:'yyyy-MM-dd',fecha.fechaFin | date:'yyyy-MM-dd')">buscar</button>
    </div>
</div>
    <br>
    <div class="w3-rest" ng-show="permisoTable">
        <table class="w3-table-all">
            <tbody>
            <tr class="w3-light-grey w3-hover-grey">
                <th>Nombre de Contrato</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Camara de Comercio</th>
                <th>Cedula de Representante</th>
                <th>Rut</th>
            </tr>
            <tr   class="w3-hover-green">
                <td>{{e.nombreContrato}}</td>
                <td>{{e.fechaInicio}}</td>
                <td>{{e.fechaFin}}</td>
                <td><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{e.idContratante}}/camaraDeComercio{{e.nombreContrato}}{{e.fechaInicio}}.{{e.tipo}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                <td><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{e.idContratante}}/cedulaDeRepresentante{{e.nombreContrato}}{{e.fechaInicio}}.{{e.tipo2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                <td><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{e.idContratante}}/rut{{e.nombreContrato}}{{e.fechaInicio}}.{{e.tipo3}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>

            </tr>
            </tbody>
        </table>
    </div>
<div class="w3-rest" ng-show="permisoFecha">
    <table class="w3-table-all">
        <tbody>
        <tr class="w3-light-grey w3-hover-grey">
            <th>Nombre de Empresa</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Camara de Comercio</th>
            <th>Cedula de Representante</th>
            <th>Rut</th>
        </tr>
        <tr  ng-repeat="todo in listado" class="w3-hover-green">
            <td>{{todo.nombreContrato}}</td>
            <td>{{todo.fechaInicio}}</td>
            <td>{{todo.fechaFin}}</td>
            <td><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{todo.idContratante}}/camaraDeComercio{{todo.nombreContrato}}{{todo.fechaInicio}}.{{e.tipo}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
            <td><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{todo.idContratante}}/cedulaDeRepresentante{{todo.nombreContrato}}{{todo.fechaInicio}}.{{e.tipo2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
            <td><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{todo.idContratante}}/rut{{todo.nombreContrato}}{{todo.fechaInicio}}.{{todo.tipo3}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>

        </tr>
        </tbody>
    </table>
</div>

</div>
