
<div class="w3-container">
  <div class="container">

   <div class="container">
       <div class="col-xs-9">
        <div class="row">
           <div class="col-sm-12">
            <div class="container">
                <div class="col-xs-9">
                    <h4 class="w3-center titulos "><b>CONSULTA DE CONTRATOS</b></h4>
                    <p class=" w3-center texto"><b>EN ESTA VISTA PODRA CONSULTAR SUS CONTRATOS</b></p>
                    <p class=" w3-center texto">ESCOJA ALGUNA DE LAS OPCIONES QUE SE LE PRESENTAN A CONTINUACIÓN</p>
                    <md-select  ng-change="function1()" class="titulos" placeholder="Escoja una de las opciones " style="min-width: 200px;" ng-model="tipoContrato">
                        <md-option value="nombre" >Nombre</md-option>
                        <md-option value="fecha" >Fecha</md-option>
                    </md-select>
                </div>
            </div>
           </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row text-center" ng-show="nombreClick">
        <br>
        <br>
        <div class="container">
            <br>
            <br>
            <div class="col-xs-9">
                <div layout="column" layout-align="center center">
                    <md-select class="titulos" placeholder="Assign to user" ng-model="contrato"  style="min-width: 200px;">
                        <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                    </md-select>
                    <p class="md-caption titulos">El Contrato fue accinado a: {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                </div>

            <br>
            <button class="btn btn-primary center-block" type="submit" ng-click="detalle($event,contrato)">Detalle</button>
            </div>
        </div>
        </div>
    </div>

    <div class="row text-center" ng-show="fechaClick">
        <br>
        <p class="text-center">
            ESCOJA EL RANGO EN EL CUAL VA MIRAR SUS CONTRATOS
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-xs-9">
                    <label>FECHA PROMEDIO DE INICIO DE CONTRATO</label>
                    <input class="form-control" type="date" ng-model="fecha.fechaInicio" ng-required="true">
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="col-xs-9">
                    <label>FECHA PROMEDIO DE FIN DE CONTRATO</label>
                    <input class="form-control" type="date" ng-model="fecha.fechaFin" ng-required="true">
                    </div>

                </div>
            </div>

        </div>
        <br>
        <button class="btn btn-primary center-block" type="submit" ng-click="buscar($event,fecha.fechaInicio | date:'yyyy-MM-dd',fecha.fechaFin | date:'yyyy-MM-dd')">buscar</button>
    </div>
    <br>
    <div class="row align-middle" ng-show="permisoTable">
        <div class="col-xs-9">
         <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
            <tbody>
            <tr class="titulos">
                <th width="600px" >Nombre de Contrato</th>
                <th width="600px" >Fecha Inicio</th>
                <th width="600px" >Fecha Fin</th>
                <th width="600px" >Camara de Comercio</th>
                <th width="600px" >Cedula de Representante</th>
                <th width="600px" >Rut</th>
            </tr>
            <tr class="texto">
                <td width="600px" >{{e.nombreContrato}}</td>
                <td width="600px" >{{e.fechaInicio}}</td>
                <td width="600px" >{{e.fechaFin}}</td>
                <td width="600px" ><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{e.idContratante}}/camaraDeComercio{{e.nombreContrato}}{{e.fechaInicio}}.{{e.tipo}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                <td width="600px" ><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{e.idContratante}}/cedulaDeRepresentante{{e.nombreContrato}}{{e.fechaInicio}}.{{e.tipo2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                <td width="600px" ><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{e.idContratante}}/rut{{e.nombreContrato}}{{e.fechaInicio}}.{{e.tipo3}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>

            </tr>
            </tbody>
        </table>
         </div>
        </div>
        </div>
    </div>
<div class="row" ng-show="permisoFecha">
    <div class="col-xs-9">
        <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <tbody>
        <tr class="titulos" >
            <th width="600px" >Nombre de Empresa</th>
            <th width="600px" >Fecha Inicio</th>
            <th width="600px" >Fecha Fin</th>
            <th width="600px" >Camara de Comercio</th>
            <th width="600px" >Cedula de Representante</th>
            <th width="600px" >Rut</th>
        </tr>
        <tr class="texto" ng-repeat="todo in listado">
            <td width="600px" >{{todo.nombreContrato}}</td>
            <td width="600px" >{{todo.fechaInicio}}</td>
            <td width="600px" >{{todo.fechaFin}}</td>
            <td width="600px" ><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{todo.idContratante}}/camaraDeComercio{{todo.nombreContrato}}{{todo.fechaInicio}}.{{todo.tipo}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
            <td width="600px" ><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{todo.idContratante}}/cedulaDeRepresentante{{todo.nombreContrato}}{{todo.fechaInicio}}.{{todo.tipo2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
            <td width="600px" ><div class="w3-col" style="width:50px"><a href="Repository/Contratante/{{todo.idContratante}}/rut{{todo.nombreContrato}}{{todo.fechaInicio}}.{{todo.tipo3}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>