
<div  ng-controller="View13Ctrl" class="w3-container">
    <div class="w3-container">
    <label class="w3-center titulos">REGISTRE SU PROYECTO</label>
    <br>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-12">
                <label class="w3-center titulos">INFORMACIÓN DEL PROYECTO</label>
                <p></p>

            </div>
            <div class="col-sm-6">
                <label class="titulos" for="email">TIPO DE PROYECTO</label>
                <select class="form-control" ng-model="contrato.tipoContrato" placeholder="Escoja el tipo de Contrato">
                    <option ng-value="todo.name" ng-repeat="todo in options">{{ todo.name }}</option>
                </select>

            </div>
            <div class="col-sm-6">

                <label class="titulos" >NOMBRE DEL PROTECTO</label>
                <input ng-model="contrato.nombreContrato" type="text" class="form-control" id="email">

            </div>
            </div>
            </div>

    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-9">

                <div class="col-sm-4">

                    <label class="titulos">FECHA DE INICIO DE PROYECTO</label>
                    <input type="date"  class="form-control"  ng-model="contrato.fechaInicio" md-placeholder="Fecha Iniciación " ng-required="true">

                </div>
                <div class="col-sm-4">

                    <label class="titulos">FECHA DE FIN DE PROYECTO</label>
                    <input type="date" class="form-control"   ng-model="contrato.fechaFin" md-placeholder="Fecha Iniciación " ng-required="true">
                </div>
                <div class="col-sm-4">
                    <label class="titulos">FECHA DE INICIO DE ACTIVIDADES</label>
                    <input type="date" class="form-control" ng-model="contrato.fechaInicioDeActividades" md-placeholder="Fecha Iniciación " ng-required="true">
                    <p></p>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <form>
            <div class="col-xs-9">
                <label class="titulos">INFORMACIÓN DEL CONTRATISTA</label>
                <br>
                <label>LOS ARCHIVOS DEBEN SER EN FORMATO .PDF Y NO EXCEDER LOS 20MB</label>
            <div class="form-group">

                <label class="titulos">RUT</label>
                <input type="file" class="form-control"  file-model="myFile" name="myFile"/>
                <p></p>
            </div>
            <div class="form-group">
                <label class="titulos">CAMARA DE COMERCIO</label>
                <input type="file" class="form-control"  file-model="myFile2" name="myFile2"/>
                <p></p>

            </div>
            
            <div class="form-group">
                <label class="titulos">CEDULA DEL REPRESENTANTE</label>
                <input type="file" class="form-control"  file-model="myFile3" name="myFile3"/>
                <p></p>

            </div>
            </div>
        </form>
    </div>
    

        <br>
        <div class="row">
            <div class="col-xs-9">
            <button class="btn btn-primary center-block" ng-click="add($event,contrato.fechaInicio | date:'yyyy-MM-dd',contrato.fechaFin | date:'yyyy-MM-dd',contrato.fechaInicioDeActividades | date:'yyyy-MM-dd')">REGISTRAR CONTRATO</button>
            </div>
        </div>

       </div>

</div>
