
<div >
<div >
<div class="w3-container w3-center">
    <div class="container align-middle text-center">
    <div class="row">
    <div class="col-xs-9">
<h4 class="titulos"><b> SUBA AQUÍ EL SOPORTE DE REQUISITOS APLICADOS POR SU CONTRATANTE</b></h4>
        <p class="titulos">EL ARCHIVO DEBE SER EN FORMATO PDF Y NO EXCEDER LOS 20 MB</p>
<br>
<br>

<label class="texto" ng-show="banderaFecha"> LA FECHA DE ENTREGA DE LOS DOCUMENTOS ES {{objeto.fechaFin| date : "fullDate"}},
    LE QUEDAN {{objeto.tiempoRestante}} PARA ENTREGAR LOS SOPORTES</label>
    </div>

<div class="container" ng-show="mostrar">
    <div class="col-xs-11">
        <div class="table-responsive">
    <table class="table table-sm   table-bordered table-hover table-condensed  text-justify"  ng-controller="View9Ctrl">
        <thead>
        <tr class="titulos text-center">
                <th width="600px"> Descripcion</th>
                <th width="600px">Soporte</th>
                <th width="600px">Estado</th>
        </tr>
        </thead>
        <tbody >
        <tr class="texto"   ng-repeat="todo in list1" >
            <td width="600px" ng-model="pero" >{{todo.descripcion}}</td>
            <td width="800px" >
               <div>
                 <input class="form-control" type="file" file-model="myFile"/></file-model>
                   <button class="btn button1 align-middle" type="button" ng-click="agregar($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td width="50px" >
                <div class="w3-col" ng-show="{{todo.estado}}||flag"  style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr  ng-repeat="todo in list2" >
            <td width="600px"  ng-model="pero" >{{todo.descripcion}}</td>
            <td width="800px">
                <div>
                    <input class="form-control" type="file" file-model="myFile"/></file-model>
                    <button type="button" class="btn button1 align-middle" ng-click="agregar2($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td width="50px">
                <div ng-show="{{todo.estado}}||flag2" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>
    </div>
</div>
</div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>