<div>
<div class="w3-container w3-center ">
    <div class="container align-middle text-center">

    <form>
        <div class="form-group">
           <div class="row">
            <div class="col-xs-9">
                <div id="id01" class="w3-modal" ng-show="bandera01">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:200px;max-height:300px">

                        <div class="w3-center"><br>
                            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                            <i class="fa fa-refresh fa-spin" style="font-size:60px;color:indigo;text-shadow:2px 2px 4px #000000;"></i>


                        </div>

                        <form class="w3-container" >
                            <div class="w3-section">
                                <div class="w3-row w3-center">
                                    <label><b>Error</b></label>

                                </div>
                                <div class="w3-row w3-center">
                                    <p><b>Comuniquese con SEQ</b></p>
                                </div>
                                <br>
                                <div class="w3-row w3-center">
                                    <button class="w3-button w3-indigo w3-padding w3-round" type="submit" ng-click="closeModel()">ok</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <h4 class="titulos"><b>CONSULTE A SUS CONTRATISTAS</b></h4>
            <label class="texto"><b>ESCOJA EL CONTRATO SOBRE EL CUAL QUIERE VER AL CONTRATISTAS</b></label>
            <p class="texto"><b>EN PARTE DE ABAJO ECONTRARÁ UNA LISTA DE TODOS SUS CONTRATOS DISPONIBLES</b> </p>
                <div class="col-sm-11">
                    <div layout="column" layout-align="center center">
                        <md-select aria-label="simpleSelect1" class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" md-on-open="loadContratos()" ng-change="ocultarTodo()">
                            <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                        </md-select>
                        <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                    </div>
                <br>
                </div>
                <div class="col-sm-11">
                    <button class="btn btn-primary center-block" type="submit" ng-click="add($event,contrato)">Consultar</button>
                </div>
            </div>
           </div>
        </div>
    </form>
    <br>

    <div class="row"  ng-show="flag">
        <div class="container">
        <div class="w3-container">
            <div class="col-xs-9">
                <div class="table-responsive">
            <table class="table  table-bordered table-hover table-condensed">
                <tbody>
                <tr class="titulos">
                    <th> Nombre de Empresa</th>
                    <th>Finalistas Definitivos</th>

                </tr>
                <tr class="texto"  ng-repeat="todo in listado2 | orderBy:propertyName:reverse">
                    <td>{{todo.nombreEmpresa}}</td>
                    <td>
                        <button  class="btn btn-primary"  ng-click="showAlert2($event,todo)">
                            Detalle Contratista
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>