<div>
<div class="w3-container w3-center ">
    <div class="container align-middle text-center">

    <form>
        <div class="form-group">
           <div class="row">
            <div class="col-xs-9">
                <h4 class="titulos"><b>CONSULTE A SUS CONTRATISTAS</b></h4>
            <label class="texto"><b>ESCOJA EL CONTRATO SOBRE EL CUAL QUIERE VER AL CONTRATISTAS</b></label>
            <p class="texto"><b>EN PARTE DE ABAJO ECONTRARÁ UNA LISTA DE TODOS SUS CONTRATOS DISPONIBLES</b> </p>
                <div class="col-sm-11">
                    <div layout="column" layout-align="center center">
                        <md-select aria-label="simpleSelect1" class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" md-on-open="loadContratos()" ng-change="ocultarTodo()">
                            <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                        </md-select>
                        <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                    </div>
                <br>
                </div>
                <div class="col-sm-11">
                    <button class="btn btn-primary center-block" type="submit" ng-click="add($event,contrato)">Consultar</button>
                </div>
            </div>
           </div>
        </div>
    </form>
    <br>

    <div class="row"  ng-show="flag">
        <div class="container">
        <div class="w3-container">
            <div class="col-xs-9">
                <div class="table-responsive">
            <table class="table  table-bordered table-hover table-condensed">
                <tbody>
                <tr class="titulos">
                    <th> Nombre de Empresa</th>
                    <th>Finalistas Definitivos</th>

                </tr>
                <tr class="texto"  ng-repeat="todo in listado2 | orderBy:propertyName:reverse">
                    <td>{{todo.nombreEmpresa}}</td>
                    <td>
                        <button  class="btn btn-primary"  ng-click="showAlert2($event,todo)">
                            Detalle Contratista
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>