<br>
<br>
<div class="w3-container ">
    <h1 class="w3-center" >REVISE A SUS CONTRATISTAS</h1>
    <form  id="myForm" action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <div class="w3-row w3-section">
            <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-search"></i></div>
            <h3 class="w3-center">ESCOJA EL CONTRATO SOBRE EL CUAL QUIERE VER LOS CONTRATISTAS</h3>
            <div class="w3-rest">
                <input class="w3-input w3-border" type="text"  placeholder="Contratos Existentes" name="contrato" list="contratos" ng-model="contrato">
                <datalist id="contratos">
                    <select name="contratos" ng-model="select">
                        <option value="" disabled selected>Contratos existentes </option>
                        <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
                    </select>
                </datalist>
            </div>
        </div>
    </form>
    <button class="w3-btn w3-blue" type="submit" ng-click="add()">Consultar</button>
</div>
<div class="w3-container" ng-show="flag">
    <h2>Finalistas Definitivos</h2>

    <div class="w3-container">
        <table class="w3-table-all">
            <tbody>
            <tr class="w3-light-grey w3-hover-grey">
                <th>  <button ng-click="sortBy('nombreEmpresa')">Nombre de Empresa</button></th>
                <th>Finalistas Definitivos</th>


            </tr>
            <tr  class="w3-hover-green" ng-repeat="todo in listado | orderBy:propertyName:reverse">
                <td>{{todo.nombreEmpresa}}</td>
                <td>
                    <md-button button class="md-primary md-raised"  ng-click="showAlert2($event,todo)">
                        Detalle Contratista
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>