<md-dialog  id="attribute-dialog" aria-label="Actividades">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1> Actividades</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div ng-controller="agregarActividadesCtrl as ctrl">
            <md-tabs md-dynamic-height md-border-bottom  md-selected="ctrl.selectedTab">
                <md-tab label="AGREGAR">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <div>
                                <md-select aria-label="Select 1" ng-model="tipoRequisitos" placeholder="Escoja el requisito para el cual agregará la actividad" ng-change="aparecerBotones()">
                                    <md-option ng-value="todo" ng-repeat="todo in listadoSugerido">{{ todo.descripcion }}</md-option>
                                    <md-option ng-value="todo" ng-repeat="todo in listadoExtra">{{ todo.descripcion }}</md-option>

                                </md-select>
                                <md-button class="md-primary" ng-click="agregarActividad()" ng-show="botones">Agregar Actividad</md-button><md-button class="md-primary" ng-click="ctrl.changeTab()" ng-show="botones">Subir Soporte</md-button>
                            </div>
                            <br>

                            <div ng-show="banderaAgregarActividad" layout="column">
                                <md-content class="md-no-momentum" layout-padding>
                                    <md-input-container class="md-block">
                                        <!-- Use floating label instead of placeholder -->
                                        <label>NOMBRE ACTIVIDAD</label>
                                        <input  type="text" placeholder="Nombre Actividad (Obligatorio)" ng-required="true" ng-model="actividad.nombreActividad">
                                    </md-input-container>
                                    <md-input-container md-no-float class="md-block">
                                        <label>RESPONSABLE</label>
                                        <input ng-model="actividad.responsable" type="text" placeholder="responsable (Obligatorio)" ng-required="true">
                                    </md-input-container>
                                    <label>FECHA EJECUCION </label>
                                    <md-datepicker ng-model="actividad.fechaEjecucion" md-placeholder="Ingrese la fecha" ng-required="true"></md-datepicker>
                                </md-content>
                                <md-button class="md-primary" ng-click="addActivitytoDataBase(tipoRequisitos)" >agregar</md-button>
                            </div>
                        </div>
                        <div ng-show="aceptado">
                            <div>
                                <!-- Use floating label instead of placeholder -->
                                <label>ACTIVIDAD AGREGADA CORRECTAMENTE</label>
                                <md-icon md-font-library="material-icons">check_circle</md-icon>

                            </div>

                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Subir soporte" selected="2">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <div>
                                <md-select aria-label="Select 1" ng-model="tipoRequisitos" placeholder="Escoja el requisito para el cual agregará la actividad" ng-change="aparecerBotones()">
                                    <md-option ng-value="todo" ng-repeat="todo in listadoSugerido">{{ todo.descripcion }}</md-option>
                                    <md-option ng-value="todo" ng-repeat="todo in listadoExtra">{{ todo.descripcion }}</md-option>

                                </md-select>
                                <md-button class="md-primary" ng-click="consultar(tipoRequisitos)">Agregar Soporte</md-button>
                            </div>
                            <div ng-show="banderaTable">
                                <form class="w3-container">
                                    <table class="w3-table-all"  ng-controller="View9Ctrl">
                                        <thead>
                                        <tr class="w3-light-grey w3-hover-grey" >
                                            <th>  <button ng-click="sortBy('nombre')">Nombre</button></th>
                                            <th><button>Soporte</button></th>
                                            <th>Estado</th>
                                        </tr>
                                        </thead>
                                        <tbody >

                                        <tr  class="w3-hover-green" ng-repeat="todo in defActividadSugerida" >
                                            <td >{{todo.nombre}}</td>
                                            <td>
                                                <div ng-controller="agregarActividadesCtrl">
                                                    <input type="file" file-model="myDoc"  class="form-control" id ="myFileField" />
                                                    <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosSugeridosPrevios($event,todo,tipoRequisitos)">Subir</button>
                                                </div>
                                            </td>
                                            <td>{{todo.estado}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>

                            </div>
                        </div>
                    </md-content>
                </md-tab>

            </md-tabs>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>