<md-dialog id="attribute-dialog" aria-label="Requisitos">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Definitivos</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Requisitos Definitivos" ng-click="consultar()">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="w3-table-all">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>DEFINITIVOS</th>
                                    <th>ELIMINAR</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in list1">
                                    <td> {{todo.descripcion}} </td>
                                    <td><md-checkbox  aria-label="Checkbox 1" class="w3-check" type="checkbox"   ng-model="selected" ng-change="display3(selected, todo)"></md-checkbox></td>
                                </tr>
                                <tr class="w3-hover-green" ng-repeat="todo in list2">
                                    <td>{{todo.descripcion}} </td>
                                    <td><md-checkbox aria-label="Checkbox 1"   ng-model="select" ng-change="display4(select, todo)"></md-checkbox></td>

                                </tr>
                                </tbody>
                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="eliminar($event)">Eliminar</md-button>
                        </div>
                    </md-content>
                </md-tab>



            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>