<md-dialog id="attribute-dialog" aria-label="Requisitos">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Documentos</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Subir Documentos">
                    <md-content class="md-padding">
                        <div class="md-dialog-contecambioPrevioExtrant">
                            <div ng-controller = "gestionDinamicaCtrl" ng-show="!docuPrevioBanderaExtra">
                                <label>{{item.apodo}}</label>
                                <label><b>LOS ARCHIVOS DEBEN SER EN FORMATO .PDF</b></label>
                                <input type="file" file-model="myDocPrevioExtra"  class="form-control" id ="myFileField" />
                                <button type="button" class="w3-btn w3-blue" ng-click="agregarDocumentoPreviosExtras(myDocPrevioExtra,item)" ng-model="tablita">Subir</button>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="docuPrevioBanderaExtra">
                            <div flex>
                                <label>Su documento se subio correctamente</label>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-file-pdf-o"  style="font-size:48px;color:red;"></i></div>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-upload"  style="font-size:48px;color:red;"></i></div>
                                <label>Desea seguir subiendo registros</label>
                                <button type="button" class="btn btn-primary" ng-click="cambioPrevioExtra()" ng-model="tablita">subir</button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Historial Documental" ng-click="consultar2()">
                    <md-content class="md-padding">
                        <div class="md-dialog-content" ng-show="mostrar2">
                            <label>{{item.apodo}}</label>
                            <br>
                            <table class="w3-table-all">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey" >
                                    <th>Numero de Documento</th>
                                    <th>fecha</th>
                                    <th>soporte</th>
                                </tr>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in historicoDeDocumentosExtra">
                                    <td><b>{{todo.id}}</b> </td>
                                    <td><b>{{todo.fecha}}</b></td>
                                    <td><div class="w3-col" style="width:50px"><a href="{{todo.contenido}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                                </tr>
                                </tbody>
                                </thead>
                            </table>
                        </div>
                        <div class="md-dialog-content" ng-show="!mostrar2">
                            <div flex>
                                <label>En el momento no hay ningún Documento</label>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-file-pdf-o"  style="font-size:48px;color:red;"></i></div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>