<md-dialog id="attribute-dialog" aria-label="Requisitos Dinamicos">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Requisitos Dinamicos</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Previos al Inicio del Contrato">
                    <md-content class="md-padding">
                        <div class="md-dialog-content" ng-show="lonPrevio">
                            <label>Sugeridos</label>
                            <table class="w3-table">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterDinamicoPrevioSugerido" ng-click="allDinamicosPreviosSugeridos(masterDinamicoPrevioSugerido)"></md-checkbox></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in listadoDinamicoPrevioSugerido" >
                                    <td>{{todo.requisito}}</td>
                                    <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="dinamicoPrevioSugerido" ng-change="agregarDinamicoPrevioSugerido(dinamicoPrevioSugerido,todo)">
                                    </md-checkbox></td>
                                </tr>
                                </tbody>
                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicarDinamiooPrevioSugerido($event)">Aplicar</md-button>
                            <div ng-show="mensajillo1">
                                <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="!lonPrevio">
                            <div flex>
                                <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                    ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>

                        <div class="md-dialog-content" ng-show="lonPrevioEx">
                            <label>Extras</label>
                            <table class="w3-table ">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterDinamicoPrevioExtra" ng-click="allDinamicosPreviosExtra(masterDinamicoPrevioExtra)"></md-checkbox></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in listadoDinamicoPrevioExtra" >
                                    <td>{{todo.descripcion}}</td>
                                    <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="dinamicoPrevioExtras" ng-change="agregarDinamicoPrevioExtra(dinamicoPrevioExtras,todo)">
                                    </md-checkbox></td>
                                </tr>
                                </tbody>

                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicarDinamicoPrevioExtra($event)">Aplicar</md-button>
                            <div ng-show="mensajillo2">
                                <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="!lonPrevioEx">
                            <div flex>
                                <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                    ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>
                    </md-content>

                </md-tab>
                <md-tab label="Requisitos Ejecucion del Contrato">
                    <md-content class="md-padding">
                        <div class="md-dialog-content" ng-show="lonEjec">
                            <label>Sugeridos</label>
                            <table class="w3-table ">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterDinamicoEjecucionSugerido" ng-click="allDinamicosEjecucionSugerido(masterDinamicoEjecucionSugerido)"></md-checkbox></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in listadoDinamicoEjecucionSugerido" >
                                    <td>{{todo.requisito}}</td>
                                    <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="dinamicoEjecucionSugerido" ng-change="agregarDinamicoEjecucionSugerido(dinamicoEjecucionSugerido,todo)">
                                    </md-checkbox></td>
                                </tr>
                                </tbody>

                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicarDinamicoEjecucionSugerido($event)">Aplicar</md-button>
                            <div ng-show="mensajillo3">
                                <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="!lonEjec">
                            <div flex>
                                <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                    ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>

                        <div class="md-dialog-content" ng-show="!lonEjecEx">
                            <label>Extras</label>
                            <table class="w3-table">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterDinamicoEjecucionExtra" ng-click="allDinamicosEjecucionExtra(masterDinamicoEjecucionExtra)"></md-checkbox></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in listadoDinamicoEjecucionExtra" >
                                    <td>{{todo.descripcion}}</td>
                                    <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="dinamicoEjecucionExtra" ng-change="agregarDinamicoEjecucionExtra(dinamicoEjecucionExtra,todo)">
                                    </md-checkbox></td>
                                </tr>
                                </tbody>

                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicarDinamicoEjecucionExtra($event)">Aplicar</md-button>
                            <div ng-show="mensajillo4">
                                <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="!lonEjecEx">
                            <div flex>
                                <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                    ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>


                    </md-content>

                </md-tab>
                <md-tab label="Requisitos Finalizacion del Contrato">
                    <md-content class="md-padding">
                        <div class="md-dialog-content" ng-show="lonFi">
                            <label>Sugeridos</label>
                            <table class="w3-table">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterDinamicoFinalizacionSugerido" ng-click="allDinamicosFinalizacionSugerido(masterDinamicoFinalizacionSugerido)"></md-checkbox></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in listadoDinamicoFinalizacionSugerido" >
                                    <td>{{todo.requisito}}</td>
                                    <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="dinamicosFinalizacionSugerido" ng-change="agregarDinamicosFinalizacionSugerido(dinamicosFinalizacionSugerido,todo)">
                                    </md-checkbox></td>
                                </tr>
                                </tbody>

                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicarDinamicoFinalizacionSugerido($event)">Aplicar</md-button>
                            <div ng-show="mensajillo5">
                                <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="!lonFi">
                            <div flex>
                                <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                    ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>

                        <div class="md-dialog-content" ng-show="lonFiEx">
                            <label>Extras</label>
                            <table class="w3-table">
                                <thead>
                                <tr class="w3-light-grey w3-hover-grey">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterDinamicoFinalizacionExtra" ng-click="allDinamicosFinalizacionExtra(masterDinamicoFinalizacionExtra)"></md-checkbox></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="w3-hover-green" ng-repeat="todo in listadoDinamicoFinalizacionExtra" >
                                    <td>{{todo.descripcion}}</td>
                                    <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="dinamicoFinalizacionExtra" ng-change="agregarDinamicoFinalizacionExtra(dinamicoFinalizacionExtra,todo)">
                                    </md-checkbox></td>
                                </tr>
                                </tbody>
                            </table>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicarDinamicoFinalizacionExtra($event)">Aplicar</md-button>
                            <div ng-show="mensajillo6">
                                <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>
                            </div>
                        </div>
                        <div class="md-dialog-content" ng-show="!lonFiEx">
                            <div flex>
                                <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                    ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>


                    </md-content>

                </md-tab>

            </md-tabs>

        </md-dialog-content>

    </form>
</md-dialog>