<md-dialog id="attribute-dialog" aria-label="Requisitos">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Control  de Archivos</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Requisitos Subidos">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="table table-sm  table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="titulos">
                                    <th>Requisito</th>
                                    <th>Estado</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="texto" ng-repeat="todo in listado2" >
                                    <td>{{todo.descripcion}}</td>
                                    <td><div class="w3-col" style="width:50px"><a  href="{{todo.contenido}}" download><i ng-click="extension(todo)" class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                                </tr>
                                <tr class="texto" ng-repeat="todi in listado3" >
                                    <td>{{todi.descripcion}}</td>
                                    <td><div class="w3-col" style="width:50px"><a href="{{todi.contenido}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>  </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Requisitos no subidos">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="table table-sm   table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="titulo">
                                    <th>Requisito</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="texto" ng-repeat="todo in listado4" >
                                    <td>{{todo.descripcion}}</td>
                                    <td><div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-exclamation-triangle"></i></div></td>
                                </tr>
                                <tr class="texto" ng-repeat="todi in listado5" >
                                    <td>{{todi.descripcion}}</td>
                                    <td><div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-exclamation-triangle"></i></div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Info">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="titulo">
                                    <th>Tipo</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="texto">
                                    <td><b> Cumplidos</b></td>
                                    <td >{{listado2.length +listado3.length}}</td>
                                </tr>
                                <tr class="texto">
                                    <td><b>No Cumplidos</b></td>
                                    <td>{{listado4.length +listado5.length}}</td>
                                </tr>

                                </tbody>
                            </table>
                            <md-button class="md-primary md-raised md-hue-2" ng-click="agregar(listado2.length +listado3.length,listado4.length +listado5.length)">Grafico</md-button>
                            <md-button class="md-primary md-raised md-hue-2" ng-click="hideGrafico()">ocultar grafico</md-button>
                            <md-button class="md-primary md-raised md-hue-2" ng-click="agregarFinalista($event)">Agregar Finalista</md-button>
                        </div>
                        <div ng-show="bandera" google-chart chart="myChartObject" width="500" height="320"></div>

                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>

</md-dialog>