        <!-- HTML que se usa para vidualizar los requisitos-->
        <md-dialog id="attribute-dialog" aria-label="Requisitos">
            <form>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h1>Requisitos</h1>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-font-library="material-icons">highlight_off</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <!--Vista de Requisitos Sugeridos-->
                    <md-tab label="Fecha de Cargue" ng-click="hideMessage1()">
                        <md-content >
                            <div class="md-dialog-content">
                                <label>Cuanto tiempo tendra su contratista para subir los documentos</label>
                                <input type="date" placeholder="yyyy-MM-dd"  ng-model="fecha"/>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="fun($event)">Establecer</md-button>
                                <label ng-show="banderaFecha" ng-controller="View3Ctrl"> LA FECHA DE ENTREGA DE LOS DOCUMENTOS ES {{objeto.fechaFin| date : "fullDate"}},
                                    LE QUEDAN {{objeto.tiempoRestante}} PARA ENTREGAR LOS SOPORTES</label>
                                <label ng-show="!banderaFecha" ng-controller="View3Ctrl"> LA FECHA ESTABLECIDA YA PASO</label>
                                <br>
                            </div>

                        </md-content>
                    </md-tab>
                    <md-tab label="Requisitos Sugeridos" ng-click="hideMessage1()">
                        <md-content class="md-padding">
                        <div class="md-dialog-content" ng-show="table1">
                        <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                        <thead>
                        <tr class="">
                            <th>Descripcion</th>
                            <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="master" ng-click="all(master)"></md-checkbox></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="" ng-repeat="todo in listado2" >
                            <td>{{todo.requisito}}</td>
                            <td><md-checkbox  aria-label="Checkbox 1"  ng-model="selected" ng-change="display(selected, todo)">
                            </md-checkbox></td>
                        </tr>
                        </tbody>
                        </table>

                            <md-button class="md-warn md-raised md-hue-2" ng-click="aplicar($event)">Aplicar</md-button>
                            <br>
                            <div ng-show="mensajillo">
                               <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>

                            </div>


                        </div>
                        <div class="md-dialog-content" ng-show="!table1">
                            <div flex>
                            <label>Usted ya ha Aplicado todos los requisitos</label>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                   ver definitivos
                                </md-button>
                                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                            </div>
                        </div>


                        </md-content>
                    </md-tab>
                    <!--Vista de Requisitos Extras-->
                    <md-tab label="Requisitos Extras" ng-click="hideMessage1()">
                        <md-content class="md-padding">
                            <div class="md-dialog-content" ng-show="table2">
                                <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                                    <thead>
                                    <tr class="">
                                        <th>Descripcion</th>
                                        <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster2" ng-model="master2" ng-click="all2(master2)"></md-checkbox></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="" ng-repeat="todo in listado3" >
                                        <td>{{todo.descripcion}}</td>
                                        <td><md-checkbox  aria-label="Checkbox 1" ng-model="select" ng-change="display2(select, todo)">
                                        </md-checkbox></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <md-button class="md-warn md-raised md-hue-2" ng-click="aplicar2($event)">Aplicar</md-button>
                                <br>
                                <div ng-show="mensajillo2">
                                    <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>

                                </div>
                            </div>
                            <div class="md-dialog-content" ng-show="!table2">
                                <div flex>
                                    <label>Usted ya ha Aplicado todos los requisitos</label>
                                    <md-button class="md-warn md-raised md-hue-2" ng-click="show($event)">
                                        ver definitivos
                                    </md-button>
                                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-flag-checkered"></i></div>
                                </div>
                            </div>

                        </md-content>
                    </md-tab>

                </md-tabs>
            </md-dialog-content>
            </form>
            </md-dialog>