<md-dialog id="attribute-dialog" aria-label="Requisitos">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Requisitos</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-library="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <!--Vista de Requisitos Sugeridos-->
                <md-tab label="Requisitos Sugeridos">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<input type="checkbox"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="" ng-repeat="todo in listado2" >
                                    <td>{{todo.requisito}}</td>
                                    <td><input class="w3-check" type="checkbox"  aria-label="Checkbox 1" ng-model="selected" ng-change="display(selected, todo)">
                                        </input></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <md-button class="md-warn md-raised md-hue-2" ng-click="aplicar($event)">Aplicar</md-button>

                    </md-content>

                </md-tab>
                <md-tab label="Requisitos Extras">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="">
                                    <th>Descripcion</th>
                                    <th>¿Aplica?<input type="checkbox" ng-model="father"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="" ng-repeat="todo in listado3" >
                                    <td>{{todo.requisito}}</td>
                                    <td><input class="w3-check" type="checkbox"  aria-label="Checkbox 1"  ng-model="select" ng-change="display2(select, todo)">
                                        </input></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <md-button class="md-warn md-raised md-hue-2" ng-click="aplicar($event)">Aplicar</md-button>
                    </md-content>
                </md-tab>

                <md-tab label="Requisitos Definitivos" ng-click="consultar()">
                    <md-content class="md-padding">
                        <div class="md-dialog-content">
                            <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="">
                                    <th>Sugeridos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="" ng-repeat="todo in list1">
                                    <td> {{todo.descripcion}} </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-sm  table-striped table-bordered table-hover table-condensed  text-justify">
                                <tr class="">
                                    <th>Extras</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="" ng-repeat="todo in list2">
                                    <td>{{todo.descripcion}} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>