
<div class="w3-container">
<div  ng-controller="inicioCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container text-center">
          <div class="row text-justify">
              <div class="col-xs-9">
            <div class="row ">
                    <h4 class="titulos"><b>BIENVIENIDO AL SOFTWARE CAYAC</b></h4>
                    <p>EMPECEMOS A TRABAJAR, ESCOJA ALGUNA DE LAS SIGUIENTES OPCIONES
                        O EN LA PARTE SUPERIOR DERECHA INGRESE DIRECTAMENTE</p>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="row bottom">
                        <h4 class="titulos text-center"><b>CONTRATISTA</b></h4>
                        <img src="{{url2}}" width="250px" height="250px" ng-mousemove="mousem2()" ng-init="count2=0" ng-click="b()" >
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bottom">
                        <h4 class="titulos text-center"><b>CONTRATANTE</b></h4>
                        <img src="{{url}}" width="250px" height="250px" ng-mousemove="mousem()" ng-init="count=0" onclick="window.location.href='#!/login2'">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bottom">
                        <h4 class="titulos text-center"><b>CANDIDATOS</b></h4>
                        <img src="{{url3}}" width="250px" height="250px" ng-mousemove="mousem3()" ng-init="count3=0" ng-click="a()" >
                    </div>


                </div>
            </div>
          </div>
        </div>
    </div>
    </div>
</div>
</div>