
<div class="w3-container">
<div  class="container" ng-controller="gestionDinamicaCtrl as ctrl">
    <div class="container  align-middle">
        <h4><b>GESTIÓN DINAMICA</b></h4>
        <p><b>A CONTINUACIÓN ECONTRARÁ UN TABLA CON LOS REQUISITOS APLICADOS POR SU CONTRATANTE SEGÚN EL CICLO
            CON UN BOTON SOBRE EL CUAL PODRÁ GESTIONAR EL REQUISITO   </b></p>
        <div>
            <select class="form-control" ng-model="tipoCiclo" placeholder="Escoja el ciclo al cual Realizará las actividades" ng-change="function1()">
                <option ng-value="todo.id" ng-repeat="todo in options">{{ todo.name }}</option>
            </select>
        </div>
        <br>
        <br>
        <div class="container" ng-show="banderaPrevio">
            <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ LOS REQUISITOS PREVIOS APLICADOS POR SU CONTRATANTE</b></p>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                <tr class="">
                    <th class="text-justify">Requisito</th>
                    <th class="text-justify">Análisis</th>
                </tr>
                <tr  class="" ng-repeat="todo in previosSugeridos | orderBy:propertyName:reverse">
                    <td class="text-justify"><b>{{todo.descripcion}}</b></td>
                    <td class="text-justify">
                        <md-button button class="md-primary md-raised" ng-click="gestionarPrevios(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>
                <tr  class="" ng-repeat="todo in previosExtras | orderBy:propertyName:reverse">
                    <td class="text-justify"><b>{{todo.descripcion}}</b></td>
                    <td class="text-justify">
                        <md-button button class="md-primary md-raised" ng-click="gestionarPreviosExtras(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>
        <div class="container" ng-show="banderaEjecucion">
            <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ LOS REQUISITOS PREVIOS APLICADOS POR SU CONTRATANTE</b></p>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                <tr class="">
                    <th class="text-justify">Requisito</th>
                    <th class="text-justify">Análisis</th>
                </tr>
                <tr  class="" ng-repeat="todo in ejecucionSugeridos | orderBy:propertyName:reverse">
                    <td class="text-justify"><b>{{todo.descripcion}}</b></td>
                    <td class="text-justify">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>
                <tr  class="" ng-repeat="todo in ejecucionExtras | orderBy:propertyName:reverse">
                    <td class="text-justify"><b>{{todo.descripcion}}</b></td>
                    <td class="text-justify">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>
        <div class="container" ng-show="banderaFinalizacion">
            <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ LOS REQUISITOS PREVIOS APLICADOS POR SU CONTRATANTE</b></p>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                <tr class="">
                    <th class="text-justify">Requisito</th>
                    <th class="text-justify">Análisis</th>
                </tr>
                <tr  class="" ng-repeat="todo in finalizacionSugeridos | orderBy:propertyName:reverse">
                    <td class="text-justify"><b>{{todo.descripcion}}</b></td>
                    <td class="text-justify">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>
                <tr  class="" ng-repeat="todo in finalizacionExtras | orderBy:propertyName:reverse">
                    <td class="text-justify"><b>{{todo.descripcion}}</b></td>
                    <td class="text-justify">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>