
<div  ng-controller="gestionDinamicaCtrl as ctrl">
    <div class="w3-container text-primary w3-center">
        <div>
            <md-select aria-label="Select 1" ng-model="tipoCiclo" placeholder="Escoja el ciclo al cual Realizará las actividades" ng-change="function1()">
                <md-option ng-value="todo.id" ng-repeat="todo in options">{{ todo.name }}</md-option>
            </md-select>
        </div>
        <br>
        <br>
        <div class="w3-container" ng-show="banderaPrevio">
            <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ LOS REQUISITOS PREVIOS APLICADOS POR SU CONTRATANTE</b></p>
            <table class="w3-table-all">
                <tbody>
                <tr class="w3-light-grey w3-hover-grey">
                    <th class="w3-center">Requisito</th>
                    <th class="w3-center">Análisis</th>
                </tr>
                <tr  class="w3-hover-green" ng-repeat="todo in previosSugeridos | orderBy:propertyName:reverse">
                    <td class="w3-center"><b>{{todo.descripcion}}</b></td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="gestionarPrevios(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>
                <tr  class="w3-hover-green" ng-repeat="todo in previosExtras | orderBy:propertyName:reverse">
                    <td class="w3-center"><b>{{todo.descripcion}}</b></td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="gestionarPrevios(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>
        <div class="w3-container" ng-show="banderaEjecucion">
            <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ LOS REQUISITOS PREVIOS APLICADOS POR SU CONTRATANTE</b></p>
            <table class="w3-table-all">
                <tbody>
                <tr class="w3-light-grey w3-hover-grey">
                    <th class="w3-center">Requisito</th>
                    <th class="w3-center">Análisis</th>
                </tr>
                <tr  class="w3-hover-green" ng-repeat="todo in ejecucionSugeridos | orderBy:propertyName:reverse">
                    <td class="w3-center"><b>{{todo.descripcion}}</b></td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>
                <tr  class="w3-hover-green" ng-repeat="todo in ejecucionExtras | orderBy:propertyName:reverse">
                    <td class="w3-center"><b>{{todo.descripcion}}</b></td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>
        <div class="w3-container" ng-show="banderaFinalizacion">
            <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ LOS REQUISITOS PREVIOS APLICADOS POR SU CONTRATANTE</b></p>
            <table class="w3-table-all">
                <tbody>
                <tr class="w3-light-grey w3-hover-grey">
                    <th class="w3-center">Requisito</th>
                    <th class="w3-center">Análisis</th>
                </tr>
                <tr  class="w3-hover-green" ng-repeat="todo in finalizacionSugeridos | orderBy:propertyName:reverse">
                    <td class="w3-center"><b>{{todo.descripcion}}</b></td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>
                <tr  class="w3-hover-green" ng-repeat="todo in finalizacionExtras | orderBy:propertyName:reverse">
                    <td class="w3-center"><b>{{todo.descripcion}}</b></td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="gestionar(todo,$event)">
                            Gestionar
                        </md-button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>
</div>
