
<div>
<div  ng-controller="gestionDeEstandaresCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="titulos" ><b>REVISE LOS ESTANDARES MÍNIMOS REGISTRADOS POR SUS CONTRATISTAS</b></h4>
                    <p class="texto">ESCOJA UNA DE LAS OPCIONES A ACONTINUACIÓN </p>
                    <div class="row">
                        <md-select aria-label="simpleSelect1" class="titulos" ng-model="notificacion" placeholder="escoja una opción" ng-change="cambiarOpcion(notificacion)">
                            <md-option ng-value="todo" ng-repeat="todo in notificaciones">{{todo.nombre}}</md-option>

                        </md-select>
                    </div>
                    <br>
                    <div class="row" ng-show="op1">
                        <div class="col-sm-12">
                            <p class="texto"><b>ESCOJA EL CONTRATO, SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>
                            <div layout="column" layout-align="center center">
                                <md-select aria-label="simpleSelect2" class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" md-on-open="loadContratos()" ng-change="ocultarTodo()">
                                    <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                                </md-select>
                                <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                            </div>
                            <br>
                            <button class="btn btn-primary align-middle" type="submit" ng-click="add(contrato.idContrato)">Consultar</button>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-show="op2">
                        <div class="col-sm-12">
                           <label class="texto">ESCOJA EL MES Y EL  AÑO </label>
                            <br>
                            <div class="col-sm-6">
                                <p class="texto"><b>ESCOJA EL MES PARA LA  NOTIFICACIÓN</b></p>
                                <md-select aria-label="simpleSelect3" class="titulos" ng-model="mes" placeholder="seleccione el mes" ng-change="ocultarTodo()">
                                    <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                            <div class="col-sm-6">
                                <p class="texto"><b>ESCOJA EL AÑO PARA LA NOTIFICACIÓN</b></p>
                                <md-select aria-label="simpleSelect4" class="titulos" ng-model="year" placeholder="seleccione el año" ng-change="ocultarTodo()">
                                    <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                            <br>
                            <div class="col-sm-12">
                                <br>
                                <button class="btn btn-primary align-middle" type="submit" ng-click="byMonthAndYear(mes,year)">Consultar</button>

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-show="flag">
                        <div class="container">
                            <div class="col-xs-9">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-condensed">
                                        <tbody>
                                        <tr >
                                            <th >Nombre de Empresa</th>
                                            <th >Análisis</th>

                                        </tr>
                                        <tr ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                                            <td >{{todo.nombreEmpresa}}</td>
                                            <td >
                                                <button  class="btn btn-primary" ng-click="traerEstandares(todo)" >
                                                    Estandares
                                                </button>

                                            </td>
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" ng-show="bandera2">
                           <label class="titulos">CONSULTA DE ESTANDARES MÍNIMOS</label>
                            <br>
                            <div class="table-responsive">
                                <label class="titulos">RESULTADO GLOBAL</label>
                                <table class="table table-bordered table-hover table-condensed">
                                    <tbody >
                                    <tr  class="titulos">
                                        <th>REGISTRO</th>
                                        <th> ITEM</th>
                                        <th>TOTAL REQUERIDO</th>
                                        <th>TOTAL CALIFICACION</th>
                                        <th>FECHA DE REGISTRO</th>
                                        <th>DETALLE</th>
                                    </tr>
                                    <tr ng-repeat="todo in listadoEstandaresMinimos | orderBy:propertyName:reverse">
                                        <td>EM #{{todo.id}}</td>
                                        <td > TOTAL GLOBAL</td>
                                        <td >
                                            100 %

                                        </td>
                                        <td>
                                            {{todo.recursos + todo.capacitacion  + todo.politica + todo.objetivos + todo.evaInicial + todo.planAnual + todo.documen + todo.cuentas + todo.normatividad + todo.mecanismos + todo.adquisiones + todo.contrataciones + todo.cambios + todo.condiciones + todo.registro + todo.vigilancia + todo.peligros + todo.prevencion + todo.planPrevencion + todo.gestion + todo.accionesPreven }} %
                                        </td>
                                        <td>{{todo.fechaDeRegistro}}</td>
                                        <td ><button class="btn btn-primary" ng-click="showAlert($event,todo)">
                                            Detalles
                                        </button>
                                            <button class="btn btn-primary" ng-click="showAlert2($event,todo)">
                                                Graficos
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>

                    </div>
                    <div class="row" ng-show="bandera3">
                        <label class="titulos">CONSULTA DE ESTANDARES MÍNIMOS</label>
                        <br>
                        <div class="table-responsive">
                            <label class="titulos">RESULTADO GLOBAL</label>
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody >
                                <tr  class="titulos">
                                    <th>NOMBRE DE EMPRESA</th>
                                    <th>NOMBRE DE CONTRATO</th>
                                    <th> ITEM</th>
                                    <th>TOTAL REQUERIDO</th>
                                    <th>TOTAL CALIFICACION</th>
                                    <th>FECHA DE REGISTRO</th>
                                    <th>DETALLE</th>
                                </tr>
                                <tr ng-repeat="todo in listadoEstandaresMinimos | orderBy:propertyName:reverse">
                                    <td>{{todo.nombreEmpresa}}</td>
                                    <td>{{todo.nombreContrato}}</td>
                                    <td > TOTAL GLOBAL</td>
                                    <td >
                                        100 %

                                    </td>
                                    <td>
                                        {{todo.recursos + todo.capacitacion  + todo.politica + todo.objetivos + todo.evaInicial + todo.planAnual + todo.documen + todo.cuentas + todo.normatividad + todo.mecanismos + todo.adquisiones + todo.contrataciones + todo.cambios + todo.condiciones + todo.registro + todo.vigilancia + todo.peligros + todo.prevencion + todo.planPrevencion + todo.gestion + todo.accionesPreven }} %
                                    </td>
                                    <td>{{todo.fechaDeRegistro}}</td>
                                    <td ><button class="btn btn-primary" ng-click="showAlert($event,todo)">
                                        Detalles
                                    </button>
                                        <button class="btn btn-primary" ng-click="showAlert2($event,todo)">
                                            Graficos
                                        </button>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>
            </div>

            </div>
        </div>



    </div>
</div>
</div>

