
<div class="w3-container">
<div class="container align-middle ">


    <div class="container align-middle " >
        <form >
            <div class="form-group">
                <h3 ><b>GESTIÓN DE REQUISITOS</b></h3>
                <br>
                <p ><b>EN ESTA VISTA PODRA AGREGAR LOS REQUISITOS A CADA CATEGORIA,ESCOJA UNA DE LAS CATEGORIAS MENCIONADAS A CONTINUACIÓN</b></p>
                <div class="container">
                   <div class="col-xs-7">
                    <select class="form-control" ng-click="function1()" data-placeholder="Categoria a la que le va aplicar los requisitos" name="singleSelect" ng-model="idCategoria">
                        <option value="1">Categoria 1</option>
                        <option value="2">Categoria 2</option>
                        <option value="3">Categoria 3</option>
                        <option value="4">Categoria 4</option>
                    </select>
                   </div>
                </div>
                <br>
                <div class="container" ng-show="banderaCategoria1" >
                    <div >
                        <h2 class="texto">Categoria 1</h2>
                    </div>

                    <form>

                        <p class="texto">La Categoria 1 pertenecen todos aquellos contratistas cuyo contrato</p>
                        <p class="texto">Es mayor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
                    </form>
                    <button class="button button3" type="submit" ng-click="showAlert($event)">Requisitos Estaticos</button>

                </div>
                <div class="container" ng-show="banderaCategoria2" >
                    <div>
                        <h2 class="texto2">Categoria 2</h2>
                    </div>

                    <form >
                        <p class="texto2">La Categoria 2 pertenecen todos aquellos contratistas cuyo contrato</p>
                        <p class="texto2">Es menor o igual a  un mes y su nivel de riesgo es mayor o igual a 3</p>
                    </form>

                    <button class="button button2" type="submit" ng-click="showAlert($event)">Requisitos Estaticos</button>

                </div>
                <div class="container" ng-show="banderaCategoria3" >
                    <div >
                        <h2 class="texto3">Categoria 3</h2>
                    </div>

                    <form >
                        <p>

                        <p class="texto3">La categoria 3 pertenecen todos aquellos contratistas cuyo contrato</p>
                        <p class="texto3">Es mayor o igual a  un mes y su nivel de riesgo es menor o igual  a 2</p>
                    </form>

                    <button class="button button1" type="submit" ng-click="showAlert($event)">Requisitos Estaticos</button>

                </div>
                <div class="container" ng-show="banderaCategoria4" >
                    <div>
                        <h2 class="texto4">Categoria 4</h2>
                    </div>
                    <form >
                        <p>

                        <p class="texto4">La categoria 4 pertenecen todos aquellos contratistas cuyo contrato</p>
                        <p class="texto4">Es menor o igual a un mes y su nivel de riesgo es menor o igual  a 2</p>
                    </form>

                    <button class="button button4" type="submit" ng-click="showAlert($event)">Requisitos Estaticos</button>
                </div>

               <br>
                <br>

                <div class="container" ng-show="banderaET">
                    <div class="col-xs-9">
                    <select class="form-control"  data-placeholder="Categoria a la que le va aplicar los requisitos" name="singleSelect" ng-model="ciclo" ng-click="activated(ciclo)">
                        <option value="1">REQUISITOS</option>
                        <option value="2">DEFINITIVOS</option>

                    </select>
                    </div>

                    <br>
                    <br>
                    <br>

                    <div class="container" ng-show="lonPrevio">
                        <div class="col-xs-9">
                            <br>
                           <table class="table table-sm  table-bordered table-hover table-condensed  text-justify ">
                               <thead>
                               <tr class="">
                                   <th>Descripcion</th>
                                   <th>¿Aplica?<md-checkbox  aria-label="CheckboxMaster" ng-model="masterPrevioSugerido" ng-click="allPreviosSugeridos(masterPrevioSugerido)"></md-checkbox></th>
                               </tr>
                               </thead>
                               <tbody>
                               <tr class="" ng-repeat="todo in listadoPrevioSugerido" >
                                   <td>{{todo.requisito}}</td>
                                   <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="previoSugerido" ng-change="agregarPrevioSugerido(previoSugerido, todo)">
                                   </md-checkbox></td>
                               </tr>
                               <tr class="" ng-repeat="todo in listadoPrevioExtra" >
                                   <td>{{todo.descripcion}}</td>
                                   <td><md-checkbox class="w3-center"  aria-label="Checkbox 1"  ng-model="previoExtras" ng-change="agregarPrevioExtra(previoExtras, todo)">
                                   </md-checkbox></td>
                               </tr>

                               </tbody>
                           </table>

                        <md-button class="md-primary md-raised md-hue-2" ng-click="aplicarPrevioSugerido($event)">Aplicar Requisitos</md-button>

                        <div ng-show="mensajillo1">
                               <label>DEBE SELECCIONAR AL MENOS UN REQUISITO</label>

                           </div>
                        </div>
                       </div>

                    <div class="container" ng-show="banderaDef">
                        <div class="col-xs-9">
                        <table class="table table-sm table-bordered table-hover table-condensed  text-justify">
                            <thead>
                            <tr class="">
                                <th>DEFINITIVOS</th>
                                <th>ELIMINAR</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="" ng-repeat="todo in defPreviosSugeridos">
                                <td> {{todo.descripcion}} </td>
                                <td><md-checkbox  aria-label="Checkbox 1" class="w3-check" type="checkbox"   ng-model="select1" ng-change="eliminar1(select1, todo)"></md-checkbox></td>

                            </tr>
                            <tr class="" ng-repeat="todo in defPreviosExtras">
                                <td>{{todo.descripcion}} </td>
                                <td><md-checkbox  aria-label="Checkbox 1" class="w3-check" type="checkbox"   ng-model="select2" ng-change="eliminar2(select2, todo)"></md-checkbox></td>
                            </tr>
                            </tbody>
                        </table>
                        <md-button class="md-primary md-raised md-hue-2" ng-click="eliminar($event)">Eliminar</md-button>
                    </div>
                    </div>

                </div>



            </div>

       </form>
    </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>