
<div class="w3-container w3-center">
    <div class="container align-middle text-center">

        <div class="row">
            <div class="col-xs-9">

            <div class="col-sm-11">
                <h4 class="titulos"><b>REVISE LO QUE SUBIERON SUS CANDIDATOS</b></h4>
                <p class="texto"><b>ESCOJA EL SERVICIO SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>

                <div layout="column" layout-align="center center">
                    <md-select class="titulos" placeholder="Asignar Servicio" ng-model="contrato"  style="min-width: 200px;">
                        <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombre}}</md-option>
                    </md-select>
                    <p class="md-caption titulos">El Servicio fue accinado a: {{ contrato ? contrato.nombre : 'Nadie todavía' }}</p>
                </div>
                    <br>
                    <br>
                    <button class="btn btn-primary center-block " type="submit" ng-click="add($event,contrato)">Consultar</button>
            </div>
            </div>

        </div>
   </div>
</div>
<br>
<br>
<div class="w3-container w3-center">
    <div class="container align-middle text-center" ng-show="flag">
        <div class="row">
            <div class="col-xs-9">
        <p class="texto"><b>EN LA SIGUIENTE TABLA ENCONTRARÁ A LOS CONTRATISTAS PERTENECIENTES AL CONTRATO</b></p>
             <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
              <tbody>
                <tr >
                    <th class="titulos"><b>Nombre de Empresa</b></th>
                    <th class="titulos"><b> Detalle Comportamiento</b></th>


              </tr>
                <tr  ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                    <td class="texto">{{todo.nombreEmpresa}}</td>
                    <td class="texto">
                        <button button class="btn btn-primary" ng-click="showAlert($event,todo)" >
                            Resumen
                        </button>
                    </td>
                </tr>

              </tbody>

            </table>
             </div>
        </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>