
<div class="w3-container">
   <div class="container text-center ">
       <h4 class="align-middle"><b>REVISE LO QUE SUBIERON SUS CANDIDATOS</b></h4>
    <form>
        <div class="form-group">
            <p class="w3-center"><b>ESCOJA EL CONTRATO SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>
            <div>
                <input class="form-control" type="text"  placeholder="A que contrato le va aplicar los requisitos" name="contrato" list="contratos" ng-model="contrato">
                <datalist id="contratos">
                    <select name="contratos" ng-model="select">
                        <option value="" disabled selected>Escoja el contrato  para el cual </option>
                        <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
                    </select>
                </datalist>
            </div>
        </div>
    </form>
    <button class="btn btn-primary align-middle" type="submit" ng-click="add()">Consultar</button>
   </div>
</div>
<br>
<br>
    <div class="container text-center" ng-show="flag">
        <p><b>EN LA SIGUIENTE TABLA ENCONTRARÁ A LOS CONTRATISTAS PERTENECIENTES AL CONTRATO</b></p>

            <table class="table table-striped table-bordered table-hover table-condensed">
              <tbody>
                <tr >
                    <th class="w3-center"><b>Nombre de Empresa</b></th>
                    <th class="w3-center"><b> Detalle Comportamiento</b></th>


              </tr>
                <tr  ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                    <td class="w3-center">{{todo.nombreEmpresa}}</td>
                    <td class="w3-center">
                        <md-button button class="md-primary md-raised" ng-click="showAlert($event,todo)" >
                            Resumen
                        </md-button>
                    </td>
                </tr>

              </tbody>

            </table>

    </div>
</div>

<br>
<br>
<br>
<br>
<br>