
<div class="w3-container w3-center">
    <div class="container align-middle text-center">

        <div class="row">
            <div class="col-xs-9">

            <div class="col-sm-11">
                <h4 class="titulos"><b>REVISE LO QUE SUBIERON SUS CANDIDATOS</b></h4>
                <p class="texto"><b>ESCOJA EL CONTRATO SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>

                <input class="form-control" type="text"  placeholder="A que contrato le va aplicar los requisitos" name="contrato" list="contratos" ng-model="contrato">
                <datalist id="contratos">
                    <select name="contratos" ng-model="select">
                        <option value="" disabled selected>Escoja el contrato  para el cual </option>
                        <option ng-repeat="todo in listado"  value="{{todo.id}}" ng-model="selectedOption">{{todo.nombre}}</option>
                    </select>
                </datalist>
                    <br>
                    <br>
                    <button class="btn btn-primary center-block " type="submit" ng-click="add($event,contrato)">Consultar</button>
            </div>
            </div>

        </div>
   </div>
</div>
<br>
<br>
<div class="w3-container w3-center">
    <div class="container align-middle text-center" ng-show="flag">
        <div class="row">
            <div class="col-xs-9">
        <p class="texto"><b>EN LA SIGUIENTE TABLA ENCONTRARÁ A LOS CONTRATISTAS PERTENECIENTES AL CONTRATO</b></p>
             <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
              <tbody>
                <tr >
                    <th class="titulos"><b>Nombre de Empresa</b></th>
                    <th class="titulos"><b> Detalle Comportamiento</b></th>


              </tr>
                <tr  ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                    <td class="texto">{{todo.nombreEmpresa}}</td>
                    <td class="texto">
                        <md-button button class="btn btn-primary" ng-click="showAlert($event,todo)" >
                            Resumen
                        </md-button>
                    </td>
                </tr>

              </tbody>

            </table>
             </div>
        </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>