<div>
<div  ng-controller="facturacionCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="titulos"><b>FACTURACION</b></h4>
                    <p class="texto">EN ESTA PESTAÑA PODRÁ DESCARGAR SU PAZ Y SALVO CON EL CUAl PODRÁ FACTURAR
                    </p>
                    <p class="texto">ESCOGE UNO DE LOS MESES QUE SE LE PRESENTAN A CONTINUACIÓN
                    </p>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="texto"><b>MES DE FACTURACIÓN</b></label>
                            <md-select class="titulos" ng-model="mes" data-placeholder="seleccione el mes" ng-change="simple()">
                                <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>

                            </md-select>
                            <br>

                        </div>
                        <div class="col-sm-6">
                            <label class="texto"><b>AÑO DE FACTURACIÓN</b></label>
                            <md-select class="titulos" ng-model="year" data-placeholder="seleccione el mes">
                                <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                            </md-select>
                        </div>


                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <button class="btn btn-primary center-block" ng-click="consultar(mes,year)">Generar Paz y salvo</button>
                    </div>
                    <br>
                    <br>
                    <div class="row" ng-show="banderaConsulta">
                        <div class="col-sm-12" ng-show="!objeto">
                            <p>EL CONTRATANTE NO HA APROBADO ESTE MES DE {{mes.name}} DE ACTIVIDADES POR LO TANTO NO HAY PAZ Y SALVO. ESTO PUEDE DEBERSE A QUE USTED TIENE PENDIENTE SOPORTES DE ACTIVIDADES O REGISTROS DE INDICADORES </p>
                        </div>
                        <div class="col-sm-12" ng-show="objeto">
                            <p>EL CONTRATANTE  HA APROBADO QUE EN ESTE MES DE {{mes.name}} EL CONTRATISTA CUMPLIO CON SU PLAN DE TRABAJO DEL MES
                            </p>
                            <p>EL  MES DE {{mes.name}} PUEDE SER TOTALMENTE FACTURADO</p>
                        </div>

                    </div>

                </div>
                </div>
            </div>

        </div>

    </div>
</div>
</div>

