

<div>
<div  ng-controller="auditoriaCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="titulos"><b>AUDITORIA </b></h4>
                    <p class="texto"><b>EN ESTE ESPACIO PODRÁ REALIZAR MÚLTIPLES OPERACIONES SOBRE LAS AUDITORIAS </b></p>
                    <div class="row">
                        <div class="col-sm-12">
                            <p >ESCOJA LO QUE QUIERE HACER</p>
                            <select class="form-control" ng-model="opcion" data-placeholder="seleccione el mes" ng-change="simple(opcion)">
                                <option ng-value="todo" ng-repeat="todo in opciones">{{todo.name}}</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <div class="row" ng-show="bandera1">
                        <label class="titulos">REGISTRAR NO CONFORMIDADES</label>
                        <p class="texto">PRIMERO REVISE SI TIENE UNA AUDITORIA</p>
                        <div class="col-sm-6">
                            <p class="titulos">AÑO REPORTADO</p>
                            <select class="form-control" ng-model="year" data-placeholder="seleccione el mes">
                                <option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</option>

                            </select>
                        </div>
                        <div class="col-sm-6">
                            <p class="titulos">PERIODO REPORTADO</p>
                            <select class="form-control" ng-model="mes" data-placeholder="seleccione el mes" >
                                <option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</option>
                            </select>
                            <br>
                        </div>
                        <button type="button" class="btn btn-primary align-middle" ng-click="consultarAuditoria($event,mes,year)" ng-model="tablita">Consultar</button>

                        <br>
                        <div class="col-sm-12" ng-repeat="todo in tableContra" ng-show="bandera7">
                            <br>
                            <div  class="w3-col">
                                <br>
                                <div class="row">
                                    <label class="titulos">AUDITORIA #{{todo.id}} del {{todo.fecha}}</label>
                                </div>
                               <div class="row">
                                <a href="{{todo.auditoria}}" download><i  ng-click="agregarNo(todo,mes,year)" class="fa fa-file-pdf-o" style="font-size:60px;text:titulos"></i></a>

                               </div>
                                <br>
                                <br>
                            </div>
                            <br>
                            <br>
                            <div class="row" ng-show="bandera8">
                                <br>
                                <br>
                                <br>
                                <label class="texto">ESCRIBA LA NO CONFORMIDAD</label>
                                <textarea class="form-control texto"  id="comment" ng-model="textArea"></textarea>
                                <br>
                                <button type="button" class="btn btn-primary center-block" ng-click="noConfor($event,textArea)" >agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="bandera2">
                        <br>
                        <label class="titulos">REGISTRAR CAUSAS</label>
                        <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES DE LO CONTRATRIO NO PODRÁ AGREGAR CAUSAS</p>
                        <select class="form-control" ng-model="opcion2" data-placeholder="seleccione el mes" ng-change="simple2(opcion2)">
                            <option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</option>
                        </select>
                        <br>
                        <div class="row" ng-show="bandera9">
                            <br>

                            <label class="texto">ESCRIBA LA CAUSA DE ESTA NO CONFORMIDAD</label>
                            <textarea class="form-control texto" ng-model="text"></textarea>
                            <br>
                            <button type="button" class="btn btn-primary center-block" ng-click="causa($event,text)" >agregar</button>
                        </div>
                    </div>
                    <div class="row" ng-show="bandera3">
                        <label class="titulos">REGISTRAR ACCIONES</label>

                        <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES DE LO CONTRATRIO NO SE  DESPLEGARÁN LAS CAUSAS</p>
                        <select class="form-control" ng-model="opcion4" data-placeholder="seleccione el mes" ng-change="simple4(opcion4)">
                            <option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</option>
                        </select>
                        <br>
                        <div ng-show="take">
                        <p  class="texto">ESCOJA LA CAUSA QUE SE VERÁ AFECTADA CON LA ACCIÓN</p>
                        <select class="form-control" ng-model="opcion5" data-placeholder="seleccione el mes" ng-change="simple5(opcion5)">
                            <option ng-value="todo" ng-repeat="todo in tablaDeCausas">{{todo.causa}}</option>
                        </select>
                        </div>
                        <br>
                        <div ng-show="take2">
                            <div class="col-sm-12">
                                <label class="titulos">NOMBRE DE LA ACCIÓN QUE VA A REALIZAR</label>
                                <input type="text" class="form-control" ng-model="nombreAccion">
                            </div>
                            <div class="col-sm-12">
                                <br>
                                <button type="button" class="btn btn-primary center-block" ng-click="salvarAccion(opcion5,nombreAccion,$event)" >agregar</button>
                            </div>


                        </div>

                    </div>
                    <div class="row" ng-show="bandera4">
                        <label class="titulos">CONSULTAR NO CONFORMIDADES</label>
                        <br>
                        <div class="table-responsive">
                            <p class="titulos">EN LA SIGUIENTE TABLA ENCONTRARÁ LAS NO CONFORMIDADES REGISTRADAS</p>
                            <br>
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                <tr  class="titulos">
                                    <th >#</th>
                                    <th >Descripcion</th>
                                    <th>Mes</th>
                                    <th>Año</th>

                                </tr>
                                <tr ng-repeat="todo in listadoDeNoConformidades">
                                    <td >{{todo.id}}</td>
                                    <td >{{todo.noConformidad}}</td>
                                    <td>{{todo.mes}}</td>
                                    <td>
                                     {{todo.year}}
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                    <div class="row" ng-show="bandera5">
                        <label class="titulos">CONSULTAR CAUSAS</label>
                        <p >ESCOJA UNA DE LAS NO CONFORMIDADES DE LO CONTRATRIO NO PODRÁ AGREGAR CAUSAS</p>
                        <select class="form-control" ng-model="opcion3" data-placeholder="seleccione el mes" ng-change="simple3(opcion3)">
                            <option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</option>
                        </select>
                        <br>
                        <div class="table-responsive" ng-show="bandera10">
                            <p class="titulos">EN LA SIGUIENTE TABLA ENCONTRARÁ LAS CAUSAS PERTENECIENTES A LA NO CONFORMIDAD ESCOGIDA</p>
                            <br>
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                <tr  class="titulos">
                                    <th >Causa</th>
                                </tr>
                                <tr ng-repeat="todo in tablaDeCausas">
                                    <td >{{todo.causa}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="bandera6">
                        <label class="titulos">CONSULTAR ACCIONES</label>
                        <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES PARA DESPLEGAR LAS CAUSAS</p>
                        <select class="form-control" ng-model="opcion6" data-placeholder="seleccione el mes" ng-change="simple6(opcion6)">
                            <option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</option>
                        </select>
                        <br>
                        <div ng-show="take3">
                            <p  class="texto">ESCOJA LA CAUSA SOBRE LAS CUALES CONSULTARA  LAS ACCIONES</p>
                            <select class="form-control" ng-model="opcion7" data-placeholder="seleccione el mes" ng-change="simple7(opcion7)">
                                <option ng-value="todo" ng-repeat="todo in tablaDeCausas">{{todo.causa}}</option>
                            </select>
                        </div>
                        <br>

                        <div class="table-responsive" ng-show="bandera11">
                            <p class="titulos">EN LA SIGUIENTE TABLA ENCONTRARÁ LAS ACCIONES PERTENECIENTES A LA CAUSA ESCOGIDA</p>
                            <br>
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                <tr  class="titulos">
                                    <th >id</th>
                                    <th>Nombre</th>
                                    <th>Fecha</th>
                                    <th>Registro</th>
                                </tr>
                                <tr ng-repeat="todo in tableAcciones">
                                    <td >{{todo.id}}</td>
                                    <td>{{todo.nombre}}</td>
                                    <td>{{todo.date}}</td>
                                    <td>
                                        <div ng-show="{{todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.registro2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                        <div ng-show="{{!todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.registro2}}" download><i class="w3-xxlarge fa fa-exclamation-triangle"></i></a></div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="row" ng-show="bandera12">
                        <label class="titulos">SUBA LOS SOPORTES A LAS ACCIONES QUE REALIZO</label>
                        <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES PARA DESPLEGAR LAS CAUSAS</p>
                        <select class="form-control" ng-model="opcion8" data-placeholder="seleccione el mes" ng-change="simple8(opcion8)">
                            <option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</option>
                        </select>
                        <br>
                        <div ng-show="take4">
                            <p  class="texto">ESCOJA LA CAUSA SOBRE LAS CUALES REGISTRO  LAS ACCIONES</p>
                            <select class="form-control" ng-model="opcion9" data-placeholder="seleccione el mes" ng-change="simple9(opcion9)">
                                <option ng-value="todo" ng-repeat="todo in tablaDeCausas">{{todo.causa}}</option>
                            </select>
                        </div>
                        <br>
                        <div class="table-responsive" ng-show="bandera13">
                            <table class="table table-bordered table-hover table-condensed">
                                <tbody>
                                <tr  class="titulos">
                                    <th>Nombre</th>
                                    <th>Registro</th>
                                    <th>Fecha</th>
                                    <th>Registrar o Actualizar soporte</th>
                                </tr>
                                <tr ng-repeat="todo in tableAcciones">
                                    <td>{{todo.nombre}}</td>
                                    <td>
                                        <div ng-show="{{todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.registro2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                        <div ng-show="{{!todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.registro2}}" download><i class="w3-xxlarge fa fa-exclamation-triangle"></i></a></div>

                                    </td>
                                    <td>{{todo.date}}</td>
                                    <td><input class="form-control" type="file" file-model="myFile"/></file-model>
                                        <br>
                                        <button type="button" class="btn btn-primary center-block" ng-click="salvarAccion2(opcion9,myFile,todo,$event)" >agregar</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-show="bandera14">
                        <label class="titulos">CUMPLIMIENTO DE PROGRAMA </label>
                        <p  class="texto">ESCOJA UNA DE LAS OPCIONES A CONTINUACIÓN</p>
                        <select class="form-control" ng-model="opcionC" data-placeholder="seleccione el mes" ng-change="simpleOpCionC(opcionC)">
                            <option ng-value="todo" ng-repeat="todo in opcionesDeCumplimiento">{{todo.name}}</option>
                        </select>
                        <br>
                        <div class="row" ng-show="c1">
                            <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES PARA DESPLEGAR LAS CAUSAS</p>
                            <select class="form-control" ng-model="opcionC1" data-placeholder="seleccione el mes" ng-change="simpleC1(opcionC1)">
                                <option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</option>
                            </select>
                            <br>
                            <div ng-show="takec1">
                                <p  class="texto">ESCOJA LA CAUSA SOBRE LAS CUALES REGISTRO  LAS ACCIONES</p>
                                <select class="form-control" ng-model="op10" data-placeholder="seleccione el mes" ng-change="tak(op10)">
                                    <option ng-value="todo" ng-repeat="todo in tablaDeCausas">{{todo.causa}}</option>
                                </select>
                            </div>
                            <br>
                            <div class="eq-c titulos" ng-show="indicador">
                                <i> INDICADOR DE CUMPLIMIENTO DE PLAN DE ACCIÓN  =</i>
                                <div class="fraction">
                                    <span class="fup"><i>TOTAL DE ACCIONES EJECUTADAS</i></span>
                                    <span class="bar">/</span>
                                    <span class="fdn"><i>TOTAL DE ACCIONES  PLANTEADAS</i></span>
                                </div>
                                * 100 % = {{(accionConRegistro.length / (accionConRegistro.length + accionSinRegistro.length))* 100 }} %
                                <br>
                                <br>
                                <button class="btn btn-primary center-block" ng-click="cerrarNoConformidad(opcionC1)" ng-hide="objeto" ng-show="!objeto">CERRAR LA NO CONFORMIDAD</button>
                            </div>
                        </div>
                        <div class="row" ng-show="c2">
                            <div class="eq-c titulos">
                                <i> INDICADOR DE CIERRE DE NO CONFORMIDADES  =</i>
                                <div class="fraction">
                                    <span class="fup"><i>TOTAL DE NO CONFORMIDADES CERRADAS</i></span>
                                    <span class="bar">/</span>
                                    <span class="fdn"><i>TOTAL DE NO CONFORMIDADES PLANTEADAS</i></span>
                                </div>
                                * 100 % = {{(listadoNoConforCerradas.length / listadoDeNoConformidades.length)* 100 }} %
                                <br>
                                <br>
                                <button class="btn btn-primary center-block" ng-click="cerrarNoConformidad(opcionC1)" ng-hide="objeto" ng-show="!objeto">CERRAR LA NO CONFORMIDAD</button>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

