
<div class="w3-container">
    <div class="container align-middle text-center">
        <div class="row">
            <div class="col-xs-9">
                <div class="col-sm-12">
                    <h4 class="text-primary"><b>Registre al Contratista</b></h4>
                </div>
             </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label>Asignar un contrato al contratista</label>
                <input class="form-control" type="text"  placeholder="A que contrato pertenece el contratista" name="contrato" list="contrat" ng-model="contrato">
                <datalist id="contrat">
                    <select name="contrat" ng-model="select">
                        <option value="" disabled selected>Escoja El contrato al que va pertenecer su contratista</option>
                        <option ng-repeat="todo in listado"  value="{{todo.idContrato}}" ng-model="selectedOption">{{todo.nombreContrato}}</option>
                    </select>
                </datalist>
                </div>
            <div class="col-sm-6">
                <label for="nombreEmpresa">Nombre de la  Empresa Contratista</label>
                <input class="form-control" type="text" name="firstname" id="nombreEmpresa" placeholder="nombre de su empresa" ng-model="nombreEmpresa">
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label for="email">Correo Electrónico para ingresar a Cayac</label>
                <input class="form-control" type="email" name="email" id="email"  placeholder="email please.."  ng-model="email" >
            </div>
            <div class="col-sm-6">
                <label>Contraseña para Cayac</label>
                <input class="form-control" type="password" name="pasword" placeholder="nueva Contraseña.." ng-model="password">
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label>Duración del Contrato</label>
                <select class="form-control" aria-label="Select 1" ng-model="duracionContrato" placeholder="Numero de Duracion">
                    <option ng-value="todo" ng-repeat="todo in options">{{ todo.name }}</option>
                </select>
                </div>
            <div class="col-sm-6">
                <label>Codigo CIIU de su Empresa</label>
                <input class="form-control" type="text"  placeholder="Código CIIU de su empresa" name="codigoCIIU" list="codigoCII" ng-model="codigoCIIU">
                <button type="button" class="btn btn-primary navbar-btn" ng-click="alertCodigo(listini,codigoCIIU)">Detalle</button>
                <label ng-model="label">{{codigoSeleccionado}}</label>
                <datalist id="codigoCII">
                    <select name="codigoCII" ng-model="select">
                        <option value="" disabled selected>Escoja la actividad de su Empresa contratista</option>
                        <option ng-repeat="todo in listini"  value="{{todo.codigoCUU}}" ng-model="selectedActivityOption">{{todo.codigoCUU}}</option>
                    </select>
                </datalist>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label>NIT Empresa Contratista</label>
                <input class="form-control"   name="nit" placeholder="NIT de su empresa" ng-model="nit">
                </div>
            <div class="col-sm-6">
                <label>Direccion de la Empresa Contratista</label>
                <input class="form-control"   name="direccion" placeholder="direccion de su empresa Contratista " ng-model="direccion">
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label>Telefono Empresa Contratista</label>
                <input class="form-control"   name="telefono" placeholder="numero telefonico de la empresa" ng-model="telefono">
            </div>
            <div class="col-sm-6">
                <label>Gerente General de la Empresa Contratista</label>
                <input class="form-control"   name="gerenteGeneral" placeholder="Nombre del Gerente General de su empresa Contratista" ng-model="nombreDeGerenteGeneral">
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label>ARL Empresa Contratista</label>
                <input class="form-control" type="text"  placeholder="ARL de su empresa" name="arl" list="arl" ng-model="arl">
                <datalist id="arl">
                    <select name="arl" class="w3-select"  data-placeholder="ARL de la empresa"  >
                        <option value="" disabled selected>Escoja</option>
                        <option value="Sura">Sura</option>
                        <option value="Bolivar">Bolivar</option>
                        <option value="Equidad">Equidad</option>
                        <option value="Aurora">Aurora</option>
                        <option value="Colpatria">Colpatria</option>
                        <option value="Liberty">Liberty</option>
                        <option value="Mapfre">Mapfre</option>
                        <option value="Alfa">Alfa</option>
                    </select>
                </datalist>
            </div>
            <div class="col-sm-6">
                <label>Departamento de la Empresa Contratista</label>
                <input class="form-control" type="text"  name="departamentos" list="departamentos" placeholder="departamento de su empresa" ng-model="departamento">
                <datalist id="departamentos">
                    <select name="departamentos" class="w3-select"  data-placeholder="departamento de la empresa"  >
                        <option value="" disabled selected>Escoja un Departamento</option>
                        <option value="Bogotá D.C">Bogotá D.C</option>
                        <option value="La Guajira">La Guajira</option>
                        <option value="Magdalena">Magdalena</option>
                        <option value="Guaviare">Guaviare</option>
                        <option value="Boyaca">Boyaca</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Meta">Meta</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Caldas">Caldas</option>
                        <option value="Caqueta">Caqueta</option>
                        <option value="Casanare">Casanare</option>
                        <option value="Cesar">Cesar</option>
                        <option value="Choco">Choco</option>
                        <option value="Cordoba">Cordoba</option>
                        <option value="Guanía">Guanía</option>
                        <option value="Huila">Huila</option>
                        <option value="Nariño">Nariño</option>
                        <option value="Norte de Santander">Norte de Santander</option>
                        <option value="Putumayo">Putumayo</option>
                        <option value="Quindio">Quindio</option>
                        <option value="San Andrés">San Andrés</option>
                        <option value="Santander">Santander</option>
                        <option value="Sucre">Sucre</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Vaupes">Vaupes</option>
                        <option value="Vichada">Vichada</option>
                        <option value="Bolivar">Bolivar</option>

                    </select>
                </datalist>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">

                <label>Nombre Persona Contacto Empresa Contratista</label>
                <input class="form-control" type="text" name="personContacto"  placeholder="Nombre de Persona de Contacto de Empresa Contratista.."  ng-model="personContacto" >
            </div>
            <div class="col-sm-6">
                <label>Cargo Persona Contacto de la Empresa Contratista</label>
                <input class="form-control" type="text" name="cargoPersonaContacto"  placeholder="Cargo de Persona Contacto de la Empresa.."  ng-model="cargoPersonaContacto" >
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-6">
                <label>Telefono persona Contacto Empresa Contratista</label>
                <input class="form-control" type="text" name="telefonoPersonaContacto"  placeholder="telefono persona Contacto.."  ng-model="telefonoPersonaContacto" >
                </div>
            <div class="col-sm-6">
                <label for="emailContacto">Email persona Contacto Empresa Contratista</label>
                <input class="form-control" type="email" name="emailContacto" id="emailContacto" placeholder="Email persona Contacto.."  ng-model="emailContacto" >
            </div>

             </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-9">
            <div class="col-sm-12">
                <button class="btn btn-primary center" type="submit" ng-click="add($event)">Registrar</button>
            </div>
            </div>

        </div>

</div>

<br>
<br>
<br>
<br>
</div>