<div class="w3-container">
  <div class="container">
    <form class="w3-container  w3-margin">
      <h4 class="titulos" ng-show="banderaContratista"><b>BIENVENIDO CONTRATISTA</b></h4>
      <h4 class="titulos" ng-show="banderaCandidato"><b>BIENVENIDO CANDIDATO</b></h4>
      <div class="col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="email" type="text" class="form-control" name="email" placeholder="Correo Electrónico" ng-model="email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" class="form-control" name="Contraseña" placeholder="Password" ng-model="password">
        </div>
        <br>
        <button class="button button1 btn-block" type="submit" ng-click="add($event,email,password)">Iniciar Sesión</button>
        <div class="progress" ng-show="progressBandera">
          <div class="progress-bar progress-bar-info  progress-bar-striped" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
            {{value}}% Completado
          </div>
        </div>

        <br>
      </div>
    </form>
<br>
<br>
<br>
<br>
<br>
  </div>
</div>