<div>
    <div  ng-controller="registroDeAuditoriaCtrl as ctrl">
        <div class="w3-container w3-center">
            <div class="container align-middle text-center">
                <div class="row">
                    <div class="col-xs-9">
                        <h4 class="titulos"><b>REGISTRO DE AUDITORIA </b></h4>
                        <p class="texto"><b>EN ESTE ESPACIO PODRÁ REGISTRAR LA AUDITORIA REALIZADA A  SU CONTRATISTA</b></p>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>ESCOJA LO QUE QUIERE HACER</p>
                                <md-select aria-label="simpleSelect1" class="titulos" ng-model="opcion" placeholder="seleccione la opción" ng-change="simple(opcion)">
                                    <md-option ng-value="todo" ng-repeat="todo in opciones">{{todo.name}}</md-option>
                                </md-select>
                                <br>
                            </div>
                        </div>
                        <div class="row" ng-show="bandera1">
                            <div class="col-sm-4">
                                <div layout="column" layout-align="center center">
                                    <md-select aria-label="simpleSelect2" class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" ng-change="resul()">
                                        <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                                    </md-select>
                                    <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <md-select aria-label="simpleSelect3" class="titulos" ng-model="mes" placeholder="seleccione el mes" ng-change="resul()">
                                    <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                            <div class="col-sm-4">
                                <md-select aria-label="simpleSelect4" class="titulos" ng-model="year" placeholder="seleccione el año" ng-change="resul()">
                                    <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                <br>
                                <button class="btn btn-primary center-block" type="submit" ng-click="add($event,contrato,year,mes)">Agregar Auditoria</button>
                                <br>
                            </div>
                        </div>
                        <div class="row" ng-show="flag">
                            <label class="titulos">REGISTRE LA AUDITORIA AL CONTRATISTA CORRESPONDIENTE</label>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tbody>
                                    <tr  class="titulos">
                                        <th >Nombre de Empresa</th>
                                        <th >Registro de Auditoria</th>

                                    </tr>
                                    <tr ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                                        <td >{{todo.nombreEmpresa}}</td>
                                        <td >
                                            <label class="texto"><b>El archivo debe ser en pdf y no exceder los 20 mb</b></label>
                                            <input class="form-control" type="file" file-model="myFile"/></file-model>
                                            <br>
                                            <button class="btn btn-primary" ng-click="upload($event,myFile,year,mes,todo)">subir</button>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                        <div class="row" ng-show="flag2">
                            <label class="titulos">CONSULTE LAS AUDITORIAS QUE HA REALIZADO</label>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tbody>
                                    <tr  class="titulos">
                                        <th >Nombre de Empresa</th>
                                        <th >Mes</th>
                                        <th>Año</th>
                                        <th>Registro</th>

                                    </tr>
                                    <tr ng-repeat="todo in listadoAuditorias">
                                        <td >{{todo.nombreEmpresa}}</td>
                                        <td >{{todo.mes}}</td>
                                        <td>{{todo.year}}</td>
                                        <td>
                                            <div  class="w3-col" style="width:50px"><a href="{{todo.auditoria}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
