
<div class="w3-container">
    <div class="container align-middle text-center">

    <form >
        <div class="row">
            <div class="col-xs-9">
                <h4 class="titulos" ><b>REVISE LO QUE SUBIERON SUS CONTRATISTAS</b></h4>
            <p class="texto"><b>ESCOJA EL CONTRATO SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>
                <div layout="column" layout-align="center center">
                    <md-select class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" md-on-open="loadContratos()" ng-change="ocultarTodo()">
                        <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                    </md-select>
                    <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                </div>
                <br>
                <br>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-9">
                <button class="btn btn-primary align-middle" type="submit" ng-click="add($event,contrato.idContrato)">Consultar</button>
            </div>
        </div>
    </form>
    <br>

    </div>
</div>
<br>
<br>
    <div class="container text-center" ng-show="flag">
      <div class="col-xs-9">
      <p class="texto">EN LA SIGUIENTE TABLA ENCONTRARÁ A LOS CONTRATISTAS PERTENECIENTES AL CONTRATO</p>
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
              <tbody>
                <tr class="titulos">
                  <th >Nombre de Empresa</th>
                    <th >Análisis</th>

              </tr>
                <tr class="texto" ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                    <td >{{todo.nombreEmpresa}}</td>
                    <td >
                        <button class="btn button1" ng-click="showAlert($event,todo)" >
                            Resumen
                        </button>
                    </td>
                </tr>

              </tbody>

            </table>
          </div>
      </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>