

<div class="w3-container">
<div  ng-controller="gestionAuditoriaCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container text-center ">
                <div class="row">
                    <div class="col-xs-9">
                        <h4 class="titulos" ><b>REVISE El COMPORTAMIENTO DE LAS AUDITORIAS REGISTRADAS</b></h4>
                        <p class="texto"><b>ESCOJA EL CONTRATO Y EL MES SOBRE EL CUAL REALIZARÁ LA REVISIÓN</b></p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div layout="column" layout-align="center center">
                                    <md-select class="titulos" placeholder="Asignar Contrato" ng-model="contrato"  style="min-width: 200px;" md-on-open="loadContratos()" ng-change="ocultarTodo()">
                                        <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombreContrato}}</md-option>
                                    </md-select>
                                    <p class="md-caption titulos">El Contrato escogido fue {{ contrato ? contrato.nombreContrato : 'Nadie todavía' }}</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <md-select class="titulos" ng-model="mes" placeholder="seleccione el mes" ng-change="ocultarTodo()" >
                                    <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                            <div class="col-sm-4">
                                <md-select class="titulos" ng-model="year" -placeholder="seleccione el año" ng-change="ocultarTodo()">
                                    <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                                </md-select>
                            </div>
                        </div>

                        <br>
                        <br>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                    <button class="btn btn-primary align-middle" type="submit" ng-click="add($event,contrato.idContrato,mes,year)">Consultar</button>
                      <br>
                    </div>
                    </div>
                </div>
        <br>
        <br>
        <div class="w3-container" ng-show="flag">
            <div class="container">
                <div class="col-xs-9">
                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                        <tr  class="titulos">
                            <th >Nombre de Empresa</th>
                            <th >Análisis</th>

                        </tr>
                        <tr class="texto" ng-repeat="todo in listillo | orderBy:propertyName:reverse">
                            <td >{{todo.nombreEmpresa}}</td>
                            <td >
                                <button  class="btn btn-primary" ng-click="desplieguedeAuditora(todo,mes,year)" >
                                    Resumen
                                </button>

                            </td>
                        </tr>

                        </tbody>

                    </table>

                </div>
               <div ng-show="auditorias">
                   <p class="titulos" >ESCOJA UNA DE LAS AUDITORIAS PARA EL MES Y EL AÑO QUE ELEGIO ANTERIORMENTE</p>
                   <md-select class="titulos" ng-model="auditoria" placeholder="seleccione auditoria" ng-change="cambiarOpcion(auditoria)">
                       <md-option ng-value="todo" ng-repeat="todo in tableContra">{{todo.fecha}}</md-option>

                   </md-select>
                   <br>
                   <div class="row" ng-show="banOpciones">
                       <br>
                       <p class="titulos" >ESCOJA LO QUE QUIERE HACER</p>
                       <md-select class="titulos" ng-model="opcion" placeholder="seleccione una opción" ng-change="changeOp(opcion)" >
                           <md-option ng-value="todo" ng-repeat="todo in opciones">{{todo.name}}</md-option>
                       </md-select>
                       <br>
                       <div class="row" ng-show="op1">
                           <label class="titulos">CONSULTAR NO CONFORMIDADES</label>
                           <br>
                           <div class="table-responsive">
                               <p class="titulos">EN LA SIGUIENTE TABLA ENCONTRARÁ LAS NO CONFORMIDADES REGISTRADAS</p>
                               <br>
                               <table class="table table-bordered table-hover table-condensed">
                                   <tbody>
                                   <tr  class="titulos">
                                       <th >#</th>
                                       <th >Descripcion</th>
                                       <th>Mes</th>
                                       <th>Año</th>

                                   </tr>
                                   <tr ng-repeat="todo in listadoDeNoConformidades">
                                       <td >{{todo.id}}</td>
                                       <td >{{todo.noConformidad}}</td>
                                       <td>{{todo.mes}}</td>
                                       <td>
                                           {{todo.year}}
                                       </td>
                                   </tr>
                                   </tbody>

                               </table>

                           </div>
                       </div>
                       <div class="row" ng-show="op2">
                           <label class="titulos">CONSULTAR CAUSAS</label>
                           <p >ESCOJA UNA DE LAS NO CONFORMIDADES DE LO CONTRATRIO NO PODRÁ AGREGAR CAUSAS</p>
                           <md-select class="titulos" ng-model="noConformidad" placeholder="seleccione la no Conformidad" ng-change="despliegueDeNoConformidades(noConformidad)">
                               <md-option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</md-option>
                           </md-select>
                           <br>
                           <div class="table-responsive" ng-show="causas">
                               <p class="titulos">EN LA SIGUIENTE TABLA ENCONTRARÁ LAS CAUSAS PERTENECIENTES A LA NO CONFORMIDAD ESCOGIDA</p>
                               <br>
                               <table class="table table-bordered table-hover table-condensed">
                                   <tbody>
                                   <tr  class="titulos">
                                       <th >Causa</th>
                                   </tr>
                                   <tr ng-repeat="todo in tablaDeCausas">
                                       <td >{{todo.causa}}</td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                       <div class="row" ng-show="op3">
                           <label class="titulos">CONSULTAR ACCIONES</label>
                           <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES PARA DESPLEGAR LAS CAUSAS</p>
                           <md-select class="titulos" ng-model="noconfor" placeholder="seleccione la no conformidad" ng-change="desCausa(noconfor)">
                               <md-option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</md-option>
                           </md-select>
                           <br>
                           <div ng-show="cau">
                               <p  class="texto">ESCOJA LA CAUSA SOBRE LAS CUALES CONSULTARA  LAS ACCIONES</p>
                               <md-select class="titulos" ng-model="ca" placeholder="seleccione la Causa " ng-change="desplegarAcciones(ca)">
                                   <md-option ng-value="todo" ng-repeat="todo in tablaDeCausas">{{todo.causa}}</md-option>
                               </md-select>
                           </div>
                           <br>
                           <div class="table-responsive" ng-show="acciones">
                               <p class="titulos">EN LA SIGUIENTE TABLA ENCONTRARÁ LAS ACCIONES PERTENECIENTES A LA CAUSA ESCOGIDA</p>
                               <br>
                               <table class="table table-bordered table-hover table-condensed">
                                   <tbody>
                                   <tr  class="titulos">
                                       <th >id</th>
                                       <th>Nombre</th>
                                       <th>Fecha</th>
                                       <th>Registro</th>
                                   </tr>
                                   <tr ng-repeat="todo in tableAcciones">
                                       <td >{{todo.id}}</td>
                                       <td>{{todo.nombre}}</td>
                                       <td>{{todo.date}}</td>
                                       <td>
                                           <div ng-show="{{todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.registro2}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                           <div ng-show="{{!todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.registro2}}" download><i class="w3-xxlarge fa fa-exclamation-triangle"></i></a></div>

                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                       <div class="row" ng-show="op4">
                           <label class="titulos">CUMPLIMIENTO DE PROGRAMA</label>
                           <p  class="texto">ESCOJA UNA DE LAS OPCIONES A CONTINUACIÓN</p>
                           <md-select class="titulos" ng-model="opcionC" placeholder="seleccione una opción " ng-change="cambiarDeOpCionC(opcionC)">
                               <md-option ng-value="todo" ng-repeat="todo in opcionesDeCumplimiento">{{todo.name}}</md-option>
                           </md-select>
                           <br>
                           <div class="row" ng-show="c1">
                               <p  class="texto">ESCOJA UNA DE LAS NO CONFORMIDADES PARA DESPLEGAR LAS CAUSAS</p>
                               <md-select class="titulos" ng-model="noConformidadIn" placeholder="seleccione la no conformidad" ng-change="desplegarCausasDeIndicadores(noConformidadIn)">
                                   <md-option ng-value="todo" ng-repeat="todo in listadoDeNoConformidades">{{todo.noConformidad}}</md-option>
                               </md-select>
                               <br>
                               <div ng-show="causas2">
                                   <p  class="texto">ESCOJA LA CAUSA SOBRE LAS CUALES REGISTRO  LAS ACCIONES</p>
                                   <md-select class="titulos" ng-model="causales" data-placeholder="seleccione una de las causas" ng-change="accionesCausales(causales)">
                                       <md-option ng-value="todo" ng-repeat="todo in tablaDeCausas">{{todo.causa}}</md-option>
                                   </md-select>
                               </div>
                               <br>
                               <div class="eq-c titulos" ng-show="indicador" ng-click="displayMap((accionConRegistro.length / (accionConRegistro.length + accionSinRegistro.length))* 100,2)">
                                   <i> INDICADOR DE CUMPLIMIENTO DE PLAN DE ACCIÓN  =</i>
                                   <div class="fraction">
                                       <span class="fup"><i>TOTAL DE ACCIONES EJECUTADAS</i></span>
                                       <span class="bar">/</span>
                                       <span class="fdn"><i>TOTAL DE ACCIONES  PLANTEADAS</i></span>
                                   </div>
                                   * 100 % = {{(accionConRegistro.length / (accionConRegistro.length + accionSinRegistro.length))* 100 }} %
                                   <br>
                                   <br>
                                   <div class="row" ng-show="grafico2">
                                       <div class="col-sm-6">
                                           <br>
                                           <br>
                                           <label class="titulos"></label>
                                       </div>
                                       <div class="col-sm-6">
                                           <div class="center-block" ng-show="grafico2" google-chart chart="myChartObject" style="height:130px; width:100%;margin: 0 auto;"></div>
                                       </div>
                                   </div>

                               </div>


                           </div>
                           <div class="row" ng-show="c2">
                               <div class="eq-c titulos" ng-click="displayMap((listadoNoConforCerradas.length / listadoDeNoConformidades.length)* 100 ,1)">
                                   <i> INDICADOR DE CIERRE DE NO CONFORMIDADES  =</i>
                                   <div class="fraction">
                                       <span class="fup"><i>TOTAL DE NO CONFORMIDADES CERRADAS</i></span>
                                       <span class="bar">/</span>
                                       <span class="fdn"><i>TOTAL DE NO CONFORMIDADES PLANTEADAS</i></span>
                                   </div>
                                   * 100 % = {{(listadoNoConforCerradas.length / listadoDeNoConformidades.length)* 100 }} %
                                   <br>
                                   <br>

                               </div>
                               <div class="row" ng-show="grafico">
                                   <div class="col-sm-6">
                                       <br>
                                       <br>
                                       <label class="titulos"></label>
                                   </div>
                                   <div class="col-sm-6">
                                       <div class="center-block" ng-show="grafico" google-chart chart="myChartObject" style="height:130px; width:100%;margin: 0 auto;"></div>
                                   </div>
                               </div>
                           </div>
                       </div>

                   </div>
                   </div>

               </div>


            </div>

        </div>
        </div>
</div>
</div>
</div>
