
<div>
<div  ng-controller="actualizarInformacionCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                    <h4 class="titulos" ><b>MODIFIQUE LA INFORMACIÓN DE SU CONTRATISTA</b></h4>
                    <p class="texto"><b>DEBERÁ LLENAR ÚNICAMENTE LOS CAMPOS QUE DESEA MODIFICAR SI LOS DATOS QUE DESA CAMBIAR NO SE ENCUENTRAN DEBERÁ COMUNICARSE CON SEQ </p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div layout="column" layout-align="center center">
                                <md-select aria-label="select" class="titulos"  placeholder="Seleccione el contratista" name="singleSelect" ng-model="ciclo"  ng-change="show(ciclo)" >
                                    <md-option ng-value="ciclo" ng-repeat="ciclo in listado">{{ciclo.nombreEmpresa}}</md-option>

                                </md-select>
                                <p class="md-caption titulos">El Contratista escogido fue {{ ciclo ? ciclo.nombreEmpresa : 'Nadie todavía' }}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" ng-show="conf">
                        <table class="table table-sm   table-bordered table-hover table-condensed  text-justify">
                            <thead>
                            <tr class="titulos">
                                <th>Contenido de Empresa</th>
                                <th>Información</th>
                                <th>Modificar Campo</th>
                            </tr>
                            <tbody>
                            <tr class="texto">
                                <td><b>Nombre de Empresa</b> </td>
                                <td>{{client.nombreEmpresa}}</td>
                                <td><input class="form-control" type="text" name="firstname" id="nombreEmpresa" placeholder="nombre de su empresa" ng-model="nombreEmpresa"></td>
                            </tr>
                            <tr class="texto">
                                <td><b>NIT</b></td>
                                <td>{{client.nit}}</td>
                                <td> <input class="form-control"   name="nit" placeholder="NIT de su empresa" ng-model="nit"></td>
                            </tr>
                            <tr class="texto">
                                <td><b>Gerente General</b> </td>
                                <td>{{client.nombreDeGerenteGeneral}}</td>
                                <td> <input class="form-control"   name="gerenteGeneral" placeholder="Nombre del Gerente General de su empresa Contratista" ng-model="nombreDeGerenteGeneral"></td>
                            </tr>
                            <tr class="texto">
                                <td><b> ARL </b> </td>
                                <td>{{arl.name}}</td>
                                <td><input class="form-control" type="text"  placeholder="ARL de su empresa" name="ar" list="ar" ng-model="ar">
                                    <datalist id="ar">
                                        <select name="ar" class="w3-select"  data-placeholder="ARL de la empresa"  >
                                            <option value="" disabled selected>Escoja</option>
                                            <option value="Sura">Sura</option>
                                            <option value="Bolivar">Bolivar</option>
                                            <option value="Equidad">Equidad</option>
                                            <option value="Aurora">Aurora</option>
                                            <option value="Colpatria">Colpatria</option>
                                            <option value="Liberty">Liberty</option>
                                            <option value="Mapfre">Mapfre</option>
                                            <option value="Alfa">Alfa</option>
                                        </select>
                                    </datalist></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Direccion </b> </td>
                                <td>{{client.direccion}}</td>
                                <td><input class="form-control"   name="direccion" placeholder="direccion de su empresa Contratista " ng-model="direccion"></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Departamento </b> </td>
                                <td>{{departamento.name}}</td>
                                <td><input class="form-control" type="text"  name="dpto" list="dpto" placeholder="departamento de su empresa" ng-model="dpto">
                                    <datalist id="dpto">
                                        <select name="dpto" class="w3-select"  data-placeholder="departamento de la empresa"  >
                                            <option value="" disabled selected>Escoja un Departamento</option>
                                            <option value="Bogotá D.C">Bogotá D.C</option>
                                            <option value="La Guajira">La Guajira</option>
                                            <option value="Magdalena">Magdalena</option>
                                            <option value="Guaviare">Guaviare</option>
                                            <option value="Boyaca">Boyaca</option>
                                            <option value="Valle del Cauca">Valle del Cauca</option>
                                            <option value="Amazonas">Amazonas</option>
                                            <option value="Meta">Meta</option>
                                            <option value="Antioquia">Antioquia</option>
                                            <option value="Cauca">Cauca</option>
                                            <option value="Caldas">Caldas</option>
                                            <option value="Caqueta">Caqueta</option>
                                            <option value="Casanare">Casanare</option>
                                            <option value="Cesar">Cesar</option>
                                            <option value="Choco">Choco</option>
                                            <option value="Cordoba">Cordoba</option>
                                            <option value="Guanía">Guanía</option>
                                            <option value="Huila">Huila</option>
                                            <option value="Nariño">Nariño</option>
                                            <option value="Norte de Santander">Norte de Santander</option>
                                            <option value="Putumayo">Putumayo</option>
                                            <option value="Quindio">Quindio</option>
                                            <option value="San Andrés">San Andrés</option>
                                            <option value="Santander">Santander</option>
                                            <option value="Sucre">Sucre</option>
                                            <option value="Tolima">Tolima</option>
                                            <option value="Vaupes">Vaupes</option>
                                            <option value="Vichada">Vichada</option>
                                            <option value="Bolivar">Bolivar</option>

                                        </select>
                                    </datalist></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Telefono </b> </td>
                                <td>{{client.telefono}}</td>
                                <td><input class="form-control"   name="telefono" placeholder="numero telefonico de la empresa" ng-model="telefono"></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Persona Contacto </b> </td>
                                <td>{{client.personContacto}}</td>
                                <td> <input class="form-control" type="text" name="personContacto"  placeholder="Nombre de Persona de Contacto de Empresa Contratista.."  ng-model="personContacto" ></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Cargo Persona Contacto </b> </td>
                                <td>{{client.cargoPersonaContacto}}</td>
                                <td><input class="form-control" type="text" name="cargoPersonaContacto"  placeholder="Cargo de Persona Contacto de la Empresa.."  ng-model="cargoPersonaContacto" ></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Telefono Persona Contacto </b> </td>
                                <td>{{client.telefonoPersonaContacto}}</td>
                                <td><input class="form-control" type="text" name="telefonoPersonaContacto"  placeholder="telefono persona Contacto.."  ng-model="telefonoPersonaContacto" ></td>
                            </tr>
                            <tr class="texto">
                                <td><b> Email de Contacto </b> </td>
                                <td>{{client.emailContacto}}</td>
                                <td><input class="form-control" type="email" name="emailContacto" id="emailContacto" placeholder="Email persona Contacto.."  ng-model="emailContacto" ></td>
                            </tr>

                            </tbody>
                            </thead>

                        </table>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary center-block" type="submit" ng-click="add($event,nombreEmpresa,nit,nombreDeGerenteGeneral,ar,direccion,dpto,telefono,personContacto,cargoPersonaContacto,telefonoPersonaContacto,emailContacto,ciclo)">Actualizar</button>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

    </div>
</div>
</div>

