<div class="w3-container">
<div class="w3-container w3-center"  ng-controller="planDeTrabajoCtrl as ctrl">
    <div class="container align-middle text-center">
        <div class="container text-center" ng-show="!objeto">
            <label class="titulos"><b>EL CONTRATANTE NO A APROBADO EL INICIO DE ACTIVIDADES</b></label>
        </div>
        <div class="container align-middle" ng-show="objeto">
            <div class="row">
            <div class="col-xs-9">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="titulos"><b>PLAN DE TRABAJO</b></h4>

                </div>
            </div>
            <div class="row">
                    <label class="texto">A CONTINUACIÓN ECONTRARÁ LOS MESES Y LOS AÑOS SOBRE LOS CUALES PODRÁ REALIZAR DIFERENTES ACCIONES SOBRE EL PLAN DE TRABAJO </label>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="titulos">MES REPORTADO</label>
                    <md-select aria-label="simpleSelect1" class="titulos" ng-model="mes" placeholder="seleccione el mes" ng-change="simple(mes,year)">
                        <md-option ng-value="todo" ng-repeat="todo in meses">{{todo.name}}</md-option>

                    </md-select>
                        </div>
                        <div class="col-sm-6">
                            <label class="titulos">AÑO REPORTADO</label>
                            <md-select aria-label="simpleSelect2" class="titulos" ng-model="year" placeholder="seleccione el año" ng-change="simple(mes,year)">
                                <md-option ng-value="todo" ng-repeat="todo in years">{{todo.name}}</md-option>

                            </md-select>
                        </div>
                    </div>
                <br>
            </div>
            <br>
            <br>
            <div class="row" ng-show="banderaActividad">
                <label class="texto">¿QUE DESEA HACER?</label>
                <br>
                <div class="row">
                    <md-select aria-label="simpleSelect3" class="titulos" ng-model="opcion" placeholder="seleccione lo que va a realizar" ng-change="op(opcion,mes,year)">
                        <md-option ng-value="todo" ng-repeat="todo in opciones">{{todo.nombre}}</md-option>

                    </md-select>

                </div>
                <br>
                <br>
                <div class="row" ng-show="bandera1">
                    <label class="titulos">REGISTRE LA ACTIVIDAD</label>
                    <br>
                    <br>
                    <div class="row">
                    <div class="col-sm-12">

                        <label class="titulos">NOMBRE</label>
                        <input class="form-control" ng-model="nombre" placeholder="nombre de la actividad">

                    </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">

                                <label class="titulos">FECHA DE INICIO</label>
                                <input type="date"  class="form-control"  ng-model="fechaInicio" placeholder="Fecha Iniciación" ng-required="true">

                        </div>
                        <div class="col-sm-6">

                                <label class="titulos">FECHA DE FIN</label>
                                <input type="date"  class="form-control"  ng-model="fechaFin" placeholder="Fecha Fin" ng-required="true">

                        </div>
                    </div>
                    <br>
                    <div class="row">


                        <button class="btn btn-primary center-block" ng-click="add($event,fechaInicio | date:'yyyy-MM-dd',fechaFin | date:'yyyy-MM-dd',nombre,mes.name,year.name)">REGISTRAR ACTIVIDAD</button>

                    </div>
                </div>
                <div></div>
                <div class="container" ng-show="bandera4">
                    <div class="col-xs-9">
                        <label class="titulos">SUBA LOS SOPORTES A SUS ACTIVIDADES REGISTRADAS</label>
                        <div class="table-responsive">
                        <table class="table table-sm  table-bordered table-hover table-condensed  text-justify">
                            <thead>
                            <tr class="titulos text-center">
                                <th>ACTIVIDAD</th>
                                <th>SUBA SOPORTE</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="texto" ng-repeat="todo in table2" >
                                <td>{{todo.nombre}}</td>
                                <td>
                                    <p class="titulos">EL ARCHIVO DEBE SER EN FORMATO PDF Y NO EXCEDER LOS 20 MB</p>
                                    <input class="form-control" type="file" file-model="myFile"/></file-model>
                                    <br>
                                    <button type="button" class="button button1 w3-center" ng-click="subirDocumento($event,todo,myFile)" ng-model="tablita">Subir</button></td>
                                <td>
                                    <div ng-show="{{todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.evidencia}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                    <div ng-show="{{!todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.evidencia}}" download><i class="w3-xxlarge fa fa-exclamation-triangle"></i></a></div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="container" ng-show="bandera3">
                    <div class="col-xs-9">
                        <label class="titulos">EN LA PARTE DE ABAJO ECONTRARÁ TODAS LAS ACTIVIDADES REGISTRADAS</label>
                        <div class="table-responsive">
                        <table class="table table-sm  table-bordered table-hover table-condensed  text-justify">
                            <thead>
                            <tr class="titulos text-center">
                                <th>ACTIVIDAD</th>
                                <th>AÑO</th>
                                <th>MES</th>
                                <th>FECHA DE INICIO</th>
                                <th>FECHA FIN</th>
                                <th>SOPORTE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="texto" ng-repeat="todo in table3" >
                                <td>{{todo.nombre}}</td>
                                <td>{{todo.year}}</td>
                                <td>{{todo.mes}}</td>
                                <td>{{todo.fechaInicio}}</td>
                                <td>{{todo.fechaFin}}</td>
                                <td>
                                    <div ng-show="{{todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.evidencia}}" download><i class="w3-xxlarge fa fa-check-square"></i></a></div>
                                    <div ng-show="{{!todo.estado}}" class="w3-col" style="width:50px"><a href="{{todo.evidencia}}" download><i class="w3-xxlarge fa fa-exclamation-triangle"></i></a></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="container" ng-show="bandera5">
                    <div class="col-xs-9">
                        <label class="titulos">EN LA PARTE DE ABAJO ECONTRARÁ TODAS LAS ACTIVIDADES REGISTRADAS</label>
                        <div class="table-responsive">
                            <table class="table table-sm  table-bordered table-hover table-condensed  text-justify">
                                <thead>
                                <tr class="titulos text-center">
                                    <th>ACTIVIDAD</th>
                                    <th>AÑO</th>
                                    <th>MES</th>
                                    <th>FECHA DE INICIO</th>
                                    <th>FECHA FIN</th>
                                    <th>ACTUALIZAR</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="texto" ng-repeat="todo in tableActividades" >
                                    <td>{{todo.nombre}}</td>
                                    <td>{{todo.year}}</td>
                                    <td>{{todo.mes}}</td>
                                    <td>{{todo.fechaInicio}}</td>
                                    <td>{{todo.fechaFin}}</td>
                                    <td><button class="btn btn-primary" ng-click="actual($event,todo)">actualizar</button></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
