
<div>
<div  ng-controller="accidentesCtrl as ctrl">
    <div class="w3-container w3-center">
        <div class="container align-middle text-center">
            <div class="row">
                <div class="col-xs-9">
                <div class="container">
                    <div class="col-xs-9">
                    <h4 class="text-primary"><b>ACCIDENTES</b></h4>
                        <p class="texto">ESCOJA UNA DE LAS OPCIONES PRESENTADAS A CONTINUACIÓN</p>
                        <md-select aria-label="simpleSelect1" class="titulos" placeholder="Escoger Opcion " ng-model="opcion"  ng-change="simple2(opcion)">
                            <md-option ng-value="todo" ng-repeat="todo in opciones">{{todo.name}}</md-option>

                        </md-select>

                    </div>
                </div>
                <br>
                <br>
                 <div class="container" ng-show="bandera1">
                     <div class="col-xs-9">
                        <div class="row">
                        <label class="titulos">REGISTRE EL ACCIDENTE</label>
                             <div class="col-sm-12">
                                 <label class="titulos">I. DESCRIPCIÓN DEL ACCIDENTE</label>
                                 <p class="texto5">DESCRIBA DETALLADAMENTE EL ACCIDENTE. QUÉ LO ORIGINO O CAUSÓ (Responda a las preguntas qué paso, cuándo, dónde, cómo y por qué)</p>
                                <textarea class="form-control texto" rows="5" id="comment" ng-model="textArea"></textarea>
                            </div>
                        </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-12">
                                <label class="titulos">II. INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ</label>
                             </div>
                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-3">
                                 <p class="titulos">PRIMER APELLIDO</p>
                                 <input class="form-control" ng-model="primerApellido" placeholder="Primer Apellido">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">SEGUNDO APELLIDO</p>
                                 <input class="form-control" ng-model="segundoApellido" placeholder="Segundo Apellido">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">PRIMER NOMBRE</p>
                                 <input class="form-control" ng-model="primerNombre" placeholder="Primer Nombre">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">SEGUNDO NOMBRE</p>
                                 <input class="form-control" ng-model="segundoNombre" placeholder="Segundo Nombre">
                             </div>


                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-3">
                                 <p class="titulos">IDENTIFICACION</p>
                                 <md-select aria-label="simpleSelect2" class="titulos" placeholder="Escoger Opcion" ng-model="identificacion" >
                                     <md-option ng-value="todo.name" ng-repeat="todo in tipoDeIdentificacion">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">NUMERO</p>
                                 <input type="number" class="form-control" ng-model="numero" placeholder="">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">FECHA NACIMIENTO</p>
                                 <input type="date" class="form-control" ng-model="nacimiento" placeholder="Primer Nombre">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">SEXO</p>
                                 <md-select aria-label="simpleSelect3" class="titulos" placeholder="Escoger Opcion" ng-model="sex" >
                                     <md-option ng-value="todo.name" ng-repeat="todo in sexo">{{todo.name}}</md-option>

                                 </md-select>
                             </div>


                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-3">
                                 <p class="titulos">DEPARTAMENTO</p>
                                 <div layout="column" layout-align="center center">
                                     <md-select aria-label="simpleSelect4" class="titulos" placeholder="departamento de su empresa" ng-model="departamento"  style="min-width: 200px;">
                                         <md-option value="Bogotá D.C">Bogotá D.C</md-option>
                                         <md-option value="La Guajira">La Guajira</md-option>
                                         <md-option value="Magdalena">Magdalena</md-option>
                                         <md-option value="Guaviare">Guaviare</md-option>
                                         <md-option value="Boyaca">Boyaca</md-option>
                                         <md-option value="Valle del Cauca">Valle del Cauca</md-option>
                                         <md-option value="Amazonas">Amazonas</md-option>
                                         <md-option value="Meta">Meta</md-option>
                                         <md-option value="Antioquia">Antioquia</md-option>
                                         <md-option value="Cuaca">Cuaca</md-option>
                                         <md-option value="Caldas">Caldas</md-option>
                                         <md-option value="Caqueta">Caqueta</md-option>
                                         <md-option value="Casanare">Casanare</md-option>
                                         <md-option value="Cesar">Cesar</md-option>
                                         <md-option value="Choco">Choco</md-option>
                                         <md-option value="Cordoba">Cordoba</md-option>
                                         <md-option value="Guanía">Guanía</md-option>
                                         <md-option value="Huila">Huila</md-option>
                                         <md-option value="Nariño">Nariño</md-option>
                                         <md-option value="Norte de Santander">Norte de Santander</md-option>
                                         <md-option value="Putumayo">Putumayo</md-option>
                                         <md-option value="Quindio">Quindio</md-option>
                                         <md-option value="San Andrés">San Andrés</md-option>
                                         <md-option value="Santander">Santander</md-option>
                                         <md-option value="Sucre">Sucre</md-option>
                                         <md-option value="Tolima">Tolima</md-option>
                                         <md-option value="Vaupes">Vaupes</md-option>
                                         <md-option value="Vichada">Vichada</md-option>
                                         <md-option value="Popayan">Popayan</md-option>
                                     </md-select>
                                     <p class="md-caption titulos">El Departamento escogido fue {{ departamento ? departamento : 'Nadie todavía' }}</p>
                                 </div>
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">MUNICIPIO</p>
                                 <input type="text" class="form-control" ng-model="muni" placeholder="Municipio">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">ZONA</p>
                                 <md-select aria-label="simpleSelect5" class="titulos" placeholder="zona" ng-model="zonas" data-placeholder="">
                                     <md-option ng-value="todo.name" ng-repeat="todo in zona">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">CARGO</p>
                                 <input class="form-control" ng-model="cargo" placeholder="Segundo Nombre">
                             </div>
                         </div>
                         <br>
                         <br>
                         <div class="row">
                             <div class="col-sm-12">
                                 <label class="titulos">III. INFORMACIÓN SOBRE EL ACCIDENTE</label>
                             </div>
                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-3">
                                 <p class="titulos">FECHA INGRESO</p>
                                 <input type="date" class="form-control" ng-model="ingreso">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">FECHA ACCIDENTE</p>
                                 <input type="date" class="form-control" ng-model="accidente">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">HORA ACCIDENTE</p>
                                 <md-select aria-label="simpleSelect6"  class="titulos" placeholder="hora" ng-model="hora" >
                                     <md-option ng-value="todo.name" ng-repeat="todo in horas">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">DIA SEMANA</p>
                                 <md-select aria-label="simpleSelect7" class="titulos" placeholder="Día" ng-model="diaSe" >
                                     <md-option ng-value="todo.name" ng-repeat="todo in dias">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-6">
                                 <p class="titulos">JORNADA </p>
                                 <md-select aria-label="simpleSelect8" class="titulos" placeholder="jornada" ng-model="jornada">
                                 <md-option ng-value="todo.name" ng-repeat="todo in jornadas">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-6">
                                 <p class="titulos">ESTABA REALIZANDO SU LABOR HABITUAL ?</p>
                                 <md-select aria-label="simpleSelect9" class="titulos" ng-model="sino" placeholder="escoja">
                                     <md-option ng-value="todo.name" ng-repeat="todo in sinos">{{todo.name}}</md-option>

                                 </md-select>
                             </div>

                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-6">
                                 <p class="titulos">TIPO DE ACCIDENTE </p>
                                 <md-select aria-label="simpleSelect10" class="titulos" placeholder="tipo" ng-model="tipoA" >
                                     <md-option ng-value="todo.name" ng-repeat="todo in tipoDeAccidente">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-6">
                                 <p class="titulos">LUGAR DONDE OCURRE EL ACCIDENTE</p>
                                 <md-select aria-label="simpleSelect11" class="titulos" ng-model="lugari" placeholder="lugar">
                                     <md-option ng-value="todo.name" ng-repeat="todo in lugar">{{todo.name}}</md-option>

                                 </md-select>
                             </div>

                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-3">
                                 <p class="titulos">DEPARTAMENTO</p>
                                 <div layout="column" layout-align="center center">
                                     <md-select aria-label="simpleSelect12" class="titulos" placeholder="departamento de su empresa" ng-model="depa"  style="min-width: 200px;">
                                         <md-option value="Bogotá D.C">Bogotá D.C</md-option>
                                         <md-option value="La Guajira">La Guajira</md-option>
                                         <md-option value="Magdalena">Magdalena</md-option>
                                         <md-option value="Guaviare">Guaviare</md-option>
                                         <md-option value="Boyaca">Boyaca</md-option>
                                         <md-option value="Valle del Cauca">Valle del Cauca</md-option>
                                         <md-option value="Amazonas">Amazonas</md-option>
                                         <md-option value="Meta">Meta</md-option>
                                         <md-option value="Antioquia">Antioquia</md-option>
                                         <md-option value="Cuaca">Cuaca</md-option>
                                         <md-option value="Caldas">Caldas</md-option>
                                         <md-option value="Caqueta">Caqueta</md-option>
                                         <md-option value="Casanare">Casanare</md-option>
                                         <md-option value="Cesar">Cesar</md-option>
                                         <md-option value="Choco">Choco</md-option>
                                         <md-option value="Cordoba">Cordoba</md-option>
                                         <md-option value="Guanía">Guanía</md-option>
                                         <md-option value="Huila">Huila</md-option>
                                         <md-option value="Nariño">Nariño</md-option>
                                         <md-option value="Norte de Santander">Norte de Santander</md-option>
                                         <md-option value="Putumayo">Putumayo</md-option>
                                         <md-option value="Quindio">Quindio</md-option>
                                         <md-option value="San Andrés">San Andrés</md-option>
                                         <md-option value="Santander">Santander</md-option>
                                         <md-option value="Sucre">Sucre</md-option>
                                         <md-option value="Tolima">Tolima</md-option>
                                         <md-option value="Vaupes">Vaupes</md-option>
                                         <md-option value="Vichada">Vichada</md-option>
                                         <md-option value="Popayan">Popayan</md-option>
                                     </md-select>
                                     <p class="md-caption titulos">El Departamento escogido fue {{ departamento ? depa : 'Nadie todavía' }}</p>
                                 </div>
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">MUNICIPIO</p>
                                 <input type="text" class="form-control" ng-model="mun" placeholder="">
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">ZONA</p>
                                 <md-select aria-label="simpleSelect13" class="titulos" ng-model="zon" placeholder="zona">
                                     <md-option ng-value="todo.name" ng-repeat="todo in zona">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-3">
                                 <p class="titulos">CAUSO LA MUERTE</p>
                                 <md-select aria-label="simpleSelect14" class="titulos"  ng-model="si2" placeholder="opcion">
                                     <md-option ng-value="todo.name" ng-repeat="todo in sinos2">{{todo.name}}</md-option>

                                 </md-select>

                             </div>
                         </div>
                         <br>
                         <br>
                         <div class="row">
                             <div class="col-sm-6">
                                 <p class="titulos">INDIQUE EL SITIO (DONDE COURRIO ?) </p>
                                 <md-select aria-label="simpleSelect15" class="tiulos" ng-model="tipoB" placeholder="sitio">
                                     <md-option ng-value="todo.name" ng-repeat="todo in sitio">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-6">
                                 <p class="titulos">TIPO DE LESIÓN</p>
                                 <md-select aria-label="simpleSelect16" class="titulos" ng-model="lesion" placeholder="tipo">
                                     <md-option ng-value="todo.name" ng-repeat="todo in lesiones">{{todo.name}}</md-option>

                                 </md-select>
                             </div>

                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-4">
                                 <p class="titulos">MECANISMO O FORMA DE ACCIDENTE </p>
                                 <md-select aria-label="simpleSelect17" class="titulos" ng-model="mecanismo" placeholder="mecanismo">
                                     <md-option ng-value="todo.name" ng-repeat="todo in mecanismos">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-4">
                                 <p class="titulos">PARTE DEL CUERPO APARENTEMENTE AFECTADA</p>
                                 <md-select aria-label="simpleSelect18" class="titulos" ng-model="parte" placeholder="parte">
                                     <md-option ng-value="todo.name" ng-repeat="todo in partes">{{todo.name}}</md-option>

                                 </md-select>
                             </div>
                             <div class="col-sm-4">
                                 <p class="titulos">AGENTE DEL ACCIDENTE ¿CON QUE? </p>
                                 <md-select aria-label="simpleSelect19" class="titulos" ng-model="agente" placeholder="agente">
                                     <md-option ng-value="todo.name" ng-repeat="todo in agentes">{{todo.name}}</md-option>

                                 </md-select>
                             </div>

                         </div>
                         <br>
                         <div class="row">
                             <div class="col-sm-12">
                                 <button class="btn btn-primary center-block" ng-click="add($event,textArea,primerApellido,segundoApellido,primerNombre,segundoNombre,identificacion,numero,nacimiento | date:'yyyy-MM-dd',sex,departamento,muni,zonas,cargo,ingreso | date:'yyyy-MM-dd',accidente | date:'yyyy-MM-dd',hora,diaSe,jornada,sino,tipoA,lugari,depa,mun,zon,si2,tipoB,lesion,mecanismo,parte,agente)">REGISTRAR ACTIVIDAD</button>
                             </div>


                         </div>

                     </div>
                     </div>
                 </div>
                    <div class="container" ng-show="bandera2">
                        <div class="col-xs-9">
                       <label class="titulos">CONSULTE LOS ACCIDENTES REGISTRADOS</label>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-condensed">
                                    <tbody>
                                    <tr class="titulos" >
                                        <th >Nombre de Accidentado</th>
                                        <th>Apellido Accidentado</th>
                                        <th >Análisis</th>

                                    </tr>
                                    <tr class="texto" ng-repeat="todo in tablaAcc | orderBy:propertyName:reverse">
                                        <td >{{todo.primerNombre}}</td>
                                        <td>{{todo.primerApellido}}</td>
                                        <td >
                                            <button  class="btn btn-primary" ng-click="showAlert($event,todo)" >
                                                Detalle
                                            </button>

                                        </td>
                                    </tr>

                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>
</div>

