
<div class="w3-container">
    <div class="container text-center">
        <div class="col-xs-11">
        <h4 class="titulos"><b>GESTIÓN ESTATICA</b></h4>
        <p class="texto"><b>A CONTINUACIÓN ECONTRARÁ UN TABLA CON LOS REQUISITOS APLICADOS POR SU CONTRATANTE Y UN ESPACIO DONDE SUBIRA LOS SOPORTES
              AL SUBIR EL SOPORTE SE RECOMIENDA ACTUALIZAR LA PAGINA PARA QUE EL ESTADO CAMBIE   </b></p>
        <br>
        <button class="btn btn-primary" ng-click="resfresh()">actualizar</button>
        <br>

     <div class="table-responsive">
     <p class="titulos">EL ARCHIVO DEBE SER EN FORMATO PDF Y NO EXCEDER LOS 20 MB</p>
    <table class="table table-sm  table-bordered table-hover table-condensed  text-justify"  ng-controller="View9Ctrl">
        <tbody>
        <tr class="titulos text-center">
                <th width="600px">Descripcion</th>
                <th width="800px">Soporte</th>
                <th width="100px">Estado</th>
        </tr>
        </thead>
        <tbody >

        <tr class="texto"  ng-repeat="todo in defPreviosSugeridos" >
            <td width="600px" >{{todo.descripcion}}</td>
            <td width="800px">
               <div ng-controller = "subirDocumentosEstaticosCtrl">
                   <input type="file" file-model="myDocSugeridoPrevio"  class="form-control" id ="myFileField" />
                   <button type="button" class="btn btn-primary align-middle" ng-click="agregarEstaticosSugeridosPrevios($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td width="100px">
                <div class="w3-col" ng-show="{{todo.estado}}"  style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr  ng-repeat="todo in defPreviosExtras" >
            <td width="600px"  >{{todo.descripcion}}</td>
            <td width="800px">
                <div ng-controller = "subirDocumentosEstaticosCtrl">
                    <input type="file" file-model="myDocExtraPrevio" class="form-control"/></file-model>
                    <button type="button" class="btn btn-primary align-middle" ng-click="agregarEstaticosExtrasPrevios($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td width="100px">
                <div ng-show="{{todo.estado}}" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        </tbody>
    </table>
     </div>
        </div>
    </div>
</div>
<br>



