
<div class="w3-container">
    <br>
    <br>
    <br>
    <table class="w3-table-all"  ng-controller="View9Ctrl">
        <thead>
        <tr class="w3-light-grey w3-hover-grey">
                <th>  <button ng-click="sortBy('descripcion')">Descripcion</button></th>
                <th><button>Soporte</button></th>
                <th>Estado</th>
        </tr>
        </thead>
        <tbody >

        <tr  class="w3-hover-green" ng-repeat="todo in defPreviosSugeridos" >
            <td >{{todo.descripcion}}</td>
            <td>
               <div ng-controller = "subirDocumentosEstaticosCtrl">
                   <input type="file" file-model="myDocSugeridoPrevio"  class="form-control" id ="myFileField" />
                   <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosSugeridosPrevios($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td>
                <div class="w3-col" ng-show="{{todo.estado}}||flag"  style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr class="w3-hover-green" ng-repeat="todo in defPreviosExtras" >
            <td  >{{todo.descripcion}}</td>
            <td>
                <div ng-controller = "subirDocumentosEstaticosCtrl">
                    <input type="file" file-model="myDocExtraPrevio" class="form-control"/></file-model>
                    <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosExtrasPrevios($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td>
                <div ng-show="{{todo.estado}}||flag2" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr class="w3-hover-green" ng-repeat="todo in defEjecucionSugeridos" >
            <td  >{{todo.descripcion}}</td>
            <td>
                <div ng-controller = "subirDocumentosEstaticosCtrl">
                    <input type="file" file-model="myDocSugeridoEjecucion" class="form-control"/></file-model>
                    <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosSugeridosEjecucion($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td>
                <div ng-show="{{todo.estado}}||flag2" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr class="w3-hover-green" ng-repeat="todo in defEjecucionExtras" >
            <td  >{{todo.descripcion}}</td>
            <td>
                <div  ng-controller = "subirDocumentosEstaticosCtrl">
                    <input type="file" file-model="myDocExtraEjecucion" class="form-control"/></file-model>
                    <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosExtrasEjecucion($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td>
                <div ng-show="{{todo.estado}}||flag2" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr class="w3-hover-green" ng-repeat="todo in defFinalizacionSugeridos" >
            <td  >{{todo.descripcion}}</td>
            <td>
                <div  ng-controller = "subirDocumentosEstaticosCtrl">
                    <input type="file" file-model="myDocSugeridoFinalizacion" class="form-control"/></file-model>
                    <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosSugeridosFinalizacion($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td>
                <div ng-show="{{todo.estado}}||flag2" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        <tr class="w3-hover-green" ng-repeat="todo in defFinalizacionExtras" >
            <td  >{{todo.descripcion}}</td>
            <td>
                <div ng-controller = "subirDocumentosEstaticosCtrl">
                    <input type="file" file-model="myDocExtraFinailizacion" class="form-control"/></file-model>
                    <button type="button" class="w3-btn w3-blue" ng-click="agregarEstaticosExtrasFinalizacion($event,todo)" ng-model="tablita">Subir</button>
                </div>
            </td>
            <td>
                <div ng-show="{{todo.estado}}||flag2" class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-check-square"></i></div>
            </td>
        </tr>
        </tbody>
    </table>

</div>