
<div class="w3-container w3-center">
    <div class="container align-middle text-center">
    <div class="row" >
        <div class="col-xs-9">
            <h4  class="titulos"><b>CONSULTAR CANDIDATOS</b></h4>
            <p class="texto"><b>ESCOJA UNO DE LOS SERVICIOS A CONTRATAR PRESENTADOS A CONTINUACIÓN</b></p>
                <div class="col-sm-11">
                    <div layout="column" layout-align="center center">
                        <md-select class="titulos" placeholder="Asignar Servicio" ng-change="ocultarTodo()" ng-model="contrato"  md-on-open="loadContratos()" style="min-width: 200px;">
                            <md-option ng-value="contrato" ng-repeat="contrato in listado">{{contrato.nombre}}</md-option>
                        </md-select>
                        <p class="md-caption titulos">El Servicio seleccionado fue: {{ contrato ? contrato.nombre : 'Nadie todavía' }}</p>
                    </div>
                </div>

        </div>

    </div>
        <br>
        <div class="col-xs-9">
             <button class="btn btn-primary center-block " type="submit" ng-click="add($event,contrato)">Consultar </button>
        </div>
    </div>
</div>
<br>
<br>
<div class="w3-container w3-center">
<div class="container align-middle text-center" ng-show="flag">
  <div class="row">
  <div class="col-xs-9">
    <h4 class="titulos"><b>CANDIDATOS CONTRATISTAS</b></h4>
            <p class="texto"><b>EN LA SIGUIENTE TABLA PODRÁ OBSERVAR TODA LA INFORMACIÓN PERTENECIENTE AL CANDIDATO</b></p>
     <div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <tbody>
        <tr class="titulos">
            <th>Nombre de Empresa</th>
            <th>EMPRESA LIGADA</th>


        </tr>
        <tr  class="texto" ng-repeat="todo in listado2 | orderBy:propertyName:reverse">
            <td>{{todo.nombreEmpresa}}</td>
            <td>
                <button class="button button1" ng-click="showAlert2($event,todo)">
                    Detalle Empresa
                </button>
            </td>
        </tr>
        </tbody>
    </table>
     </div>
  </div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>