
<div class="w3-container">
    <div class="container align-middle text-center">
    <form >
        <h4 ><b>CONSULTAR CANDIDATOS</b></h4>
        <div class="form-group">
            <p><b>ESCOJA UNO DE LOS CONTRATOS PRESENTADOS A CONTINUACIÓN</b></p>
            <div class="w3-rest">
                <input class="form-control" type="text"  placeholder="A que contrato pertenece el contratista" name="contrato" list="contratos" ng-model="contrato">
                <datalist id="contratos">
                    <select name="contratos" ng-model="select">
                        <option value="" disabled selected>Escoja El servicio a contratar al que va pertenecer el candidato</option>
                        <option ng-repeat="todo in listado"  value="{{todo.id}}" ng-model="selectedOption">{{todo.nombre}}</option>
                    </select>
                </datalist>
            </div>
        </div>

    </form>
    <button class="btn btn-primary" type="submit" ng-click="add($event)">Consultar </button>
    </div>
</div>
<br>
<br>
    <div class="container align-middle text-center" ng-show="flag">
    <h4>CANDIDATOS CONTRATISTAS</h4>
    <p>EN LA SIGUIENTE TABLA PODRÁ OBSERVAR TODA LA INFORMACIÓN PERTENECIENTE AL CANDIDATO</p>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
        <tr>
            <th>Nombre de Empresa</th>
            <th>Gestión de Requisitos</th>


        </tr>
        <tr  ng-repeat="todo in listado2 | orderBy:propertyName:reverse">
            <td>{{todo.nombreEmpresa}}</td>
            <td>
                <md-button button class="md-primary md-raised" ng-click="showAlert2($event,todo)">
                    Detalle Empresa
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<br>
<br>
<br>
<br>